[submodule "media/book/x_ray_diffraction"]
	path = media/book/x_ray_diffraction
	url = https://git.gitbook.com/atknin/x_ray_diffraction.git
[submodule "media/books/x_ray_diffraction"]
	path = media/books/x_ray_diffraction
	url = https://git.gitbook.com/atknin/x_ray_diffraction.git
[submodule "media/books/polyarizatsiya"]
	path = media/books/polyarizatsiya
	url = https://git.gitbook.com/atknin/polyarizatsiya.git
