<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {%load static%}
    <link rel="icon" href="{% static "icon/informata.png" %}">

    <title>ИК РАН info</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap_4/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "bootstrap_4/dist/signin.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap-validator/dist/css/bootstrapValidator.css" %}" rel="stylesheet">

    <script src="{% static "bootstrap/js/jquery-3.1.1.min.js"%}"></script>
    <script src="{% static "bootstrap-validator/dist/js/bootstrapValidator.js"%}"></script>
    <script src="{% static "bootstrap_4/js/bootstrap.min.js"%}"></script>
  </head>

  <body>

    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Регистрация</h2>

        <div class="form-group">
          <label for="inputLastName">Фамилия</label>
          <input type="text" class="form-control" id="inputLastName" placeholder="Медведев">
        </div>
        <div class="form-group">
          <label for="inputName">Имя</label>
          <input type="text" class="form-control" id="inputName" placeholder="Дмитрий">
        </div>

        <div class="form-group">
          <label for="inputEmail">Email</label>
          <input type="text" class="form-control" name="email" id="inputEmail" placeholder="medvedev@yandex.ru"/>

        </div>

        <div class="form-group">
          <label for="inputTel">Телефон</label>
          <input type="text" class="form-control" name="phoneNumberUS" />

           <!-- <input name="phone" placeholder="(845)555-1212" class="form-control" type="text"> -->
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">отправить</button>
      </form>

    </div> <!-- /container -->

    <script type="text/javascript">
    $(document).ready(function() {
      $('#contact_form').bootstrapValidator({
          // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
          feedbackIcons: {
              valid: 'glyphicon glyphicon-ok',
              invalid: 'glyphicon glyphicon-remove',
              validating: 'glyphicon glyphicon-refresh'
          },
          fields: {
              first_name: {
                  validators: {
                          stringLength: {
                          min: 2,
                      },
                          notEmpty: {
                          message: 'Please supply your first name'
                      }
                  }
              },
               last_name: {
                  validators: {
                       stringLength: {
                          min: 2,
                      },
                      notEmpty: {
                          message: 'Please supply your last name'
                      }
                  }
              },
              email: {
                  validators: {
                      notEmpty: {
                          message: 'Please supply your email address'
                      },
                      emailAddress: {
                          message: 'Please supply a valid email address'
                      }
                  }
              },
              phone: {
                  validators: {
                      notEmpty: {
                          message: 'Please supply your phone number'
                      },
                      phone: {
                          country: 'US',
                          message: 'Please supply a vaild phone number with area code'
                      }
                  }
              },
              address: {
                  validators: {
                       stringLength: {
                          min: 8,
                      },
                      notEmpty: {
                          message: 'Please supply your street address'
                      }
                  }
              },
              city: {
                  validators: {
                       stringLength: {
                          min: 4,
                      },
                      notEmpty: {
                          message: 'Please supply your city'
                      }
                  }
              },
              state: {
                  validators: {
                      notEmpty: {
                          message: 'Please select your state'
                      }
                  }
              },
              zip: {
                  validators: {
                      notEmpty: {
                          message: 'Please supply your zip code'
                      },
                      zipCode: {
                          country: 'US',
                          message: 'Please supply a vaild zip code'
                      }
                  }
              },
              comment: {
                  validators: {
                        stringLength: {
                          min: 10,
                          max: 200,
                          message:'Please enter at least 10 characters and no more than 200'
                      },
                      notEmpty: {
                          message: 'Please supply a description of your project'
                      }
                      }
                  }
              }
          })
          .on('success.form.bv', function(e) {
              $('#success_message').slideDown({ opacity: "show" }, "slow") // Do something ...
                  $('#contact_form').data('bootstrapValidator').resetForm();

              // Prevent form submission
              e.preventDefault();

              // Get the form instance
              var $form = $(e.target);

              // Get the BootstrapValidator instance
              var bv = $form.data('bootstrapValidator');

              // Use Ajax to submit form data
              $.post($form.attr('action'), $form.serialize(), function(result) {
                  console.log(result);
              }, 'json');
          });
      });


    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>
</html>
