<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {%load static%}
    <link rel="icon" href="{% static "icon/informata.png" %}">

    <title>ИК РАН info</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap_4/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "bootstrap_4/dist/signin.css" %}" rel="stylesheet">
    <script src="{% static "bootstrap/js/jquery-3.1.1.min.js"%}"></script>
    <script src="{% static "bootstrap_4/js/jquery.maskedinput.js"%}"></script>
    <style media="screen">
      #load{
        background-color: black;
        margin-top: -40px;
        margin-bottom: -40px;
        width: 100%;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <div class="container" id = "load">
      <img src="{% static 'loader/Tat5OPGkwl.gif'%}" alt="" id = "img_load" >
    </div>
    <div class="container" id="main">

      <form class="form-signin">
        <h2 class="form-signin-heading">Регистрация</h2>

        <div class="form-group">
          <label for="inputLastName">Фамилия</label>
          <input type="text" class="form-control" id="inputLastName" placeholder="Медведев">
        </div>
        <div class="form-group">
          <label for="inputName">Имя</label>
          <input type="text" class="form-control" id="inputName" placeholder="Дмитрий">
        </div>

        <div class="form-group">
          <label for="inputEmail">Email</label>
          <input type="text" class="form-control form-control-danger" name="email" id="inputEmail" placeholder="medvedev@yandex.ru" required>
        </div>

        <div class="form-group">
          <label for="inputTel">Телефон</label>
          <input type="text" placeholder="(915) 132-2437" class="form-control" id="phone" name="phone" required>

           <!-- <input name="phone" placeholder="(845)555-1212" class="form-control" type="text"> -->
        </div>

        <button class="btn btn-lg btn-primary btn-block" id = "submit" type="button" >ok</button>
      </form>

    </div> <!-- /container -->

    <script type="text/javascript">
        $(document).ready(function() {
          $("#load").hide();
          function validateEmail(email) {
            var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
          }

          $("#phone").mask("(999) 999-9999");
          $("#phone").on("blur", function() {
              var last = $(this).val().substr( $(this).val().indexOf("-") + 1 );

              if( last.length == 3 ) {
                  var move = $(this).val().substr( $(this).val().indexOf("-") - 1, 1 );
                  var lastfour = move + last;
                  var first = $(this).val().substr( 0, 9 );
                  $(this).val( first + '-' + lastfour );
              }
          });

          $( "#submit" ).click(function() {

            var flag = true;
            var email = $("#inputEmail").val();
            if (validateEmail(email)) {
              $("#inputEmail").removeClass("form-control-danger");
              $("#inputEmail").parent().removeClass("has-danger");

              console.log('email ok');
              // ok
            } else {
              flag = false;
              $("#inputEmail").addClass("form-control-danger");
              $("#inputEmail").parent().addClass("has-danger");
              console.log('email fail');
            }


            var phone = '7'
            phone += $("#phone").val().replace("(","").replace(")","").replace("-","").replace(" ","");
            console.log(phone)

            if (phone == '7') {
              flag = false;
              $("#phone").addClass("form-control-danger");
              $("#phone").parent().addClass("has-danger");
            }
            else {
              $("#phone").removeClass("form-control-danger");
              $("#phone").parent().removeClass("has-danger");
            }
            if (flag) {
              $("#main").hide();
              $("#load").show();
              $("#load").height($( window ).height());
              if ($( window ).height()>$( window ).width()) {
                $("#img_load").width("80%");
                $("#img_load").css("margin-top:10%");
              }
              else {
                  $("#img_load").height("80%");
              }

              $('#load').append('<div style="position:asbolute; top: 0px; left: 0px;">Добро пожаловать!</div>');
            }

          });

        });
    </script>

  </body>
</html>
