<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    {%load static%}

    <title>ИК РАН info</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap_4/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "bootstrap_4/dist/signin.css" %}" rel="stylesheet">

  </head>

  <body>

    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Регистрация</h2>
        <label for="inputLastName" class="sr-only">Фамилия</label>
        <input type="text" id="inputLastName" class="form-control" placeholder="Фамилия" required autofocus>
        <label for="inputName" class="sr-only">Имя</label>
        <input type="text" id="inputName" class="form-control" placeholder="Имя" required autofocus>


        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-outline-success active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> Муж.
          </label>
          <label class="btn btn-outline-info">
            <input type="radio" name="options" id="option2" autocomplete="off"> Жен.
          </label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>
</html>
