{% extends "general/index.html" %}
  {% block title %}
<title>Добавить кристалл &#967; </title>
{% load static %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css"></link>
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
  <style type="text/css">

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

  </style>
{% endblock %}

{% block content %}
<div class="row"><!--  первая строка -->
  <div class="col-md-6">
    <fieldset class="module aligned ">
      <div class="form-row field-name">
        <div >
              <input type="text" class="form-control change_check"  maxlength="80" id="id_name" placeholder="название">
              <p class="help">коротко, без пробелов, без спец. символов, на английском</p>
        </div>
      </div>
      <div class="form-row field-short_name">
        <div>
          <input type="text" class="form-control" name="short_name"  maxlength="30" id="id_short_name" placeholder="химическая формула">
        </div>
      </div>
      <div class="form-row field-crystal_system">
        <div>
          <select class="form-control" id="id_crystal_system" name="crystal_system">
            <option>неизвестно</option>
            <option>Триклинная</option>
            <option>Моноклинная</option>
            <option>Ромбическая</option>
            <option>Тетрагональная</option>
            <option>Гексагональная</option>
            <option>Тригональная</option>
            <option>Кубическая</option>
          </select>
          <p class="help">симметрия кристаллической структуры</p>
        </div>
      </div>
      <div class="form-row field-a">
        <div>
            <input id="id_a" name="a" class="form-control" type="number" placeholder="параметр 'a'">
          <p class="help"> единица изм. &#8491; - ангстрем</p>
        </div>
      </div>
      <div class="form-row field-b">
        <div>
          <input class="form-control" id="id_b" name="b" type="number" placeholder="параметр 'b'">
          <p class="help">единица изм. &#8491; - ангстрем</p>
        </div>
      </div>
      <div class="form-row field-c">
        <div>
          <input class="form-control" id="id_c" name="c"  type="number" placeholder="параметр 'c'">
          <p class="help">единица изм. &#8491; - ангстрем</p>
        </div>
      </div>
      <div class="form-row field-alfa">
        <div>
          <input id="id_alfa" class="form-control" name="alfa" type="number" placeholder="Угол &#945;">
          <p class="help">в градусах</p>
        </div>
      </div>
      <div class="form-row field-beta">
        <div>
          <input id="id_beta" class="form-control"  name="beta" type="number" placeholder="Угол &beta;">
          <p class="help">в градусах</p>
        </div>
      </div>
      <div class="form-row field-gamma">
        <div>
          <input id="id_gamma" class="form-control" name="gamma" type="number" placeholder="Угол &#947;">
          <p class="help">в градусах</p>
        </div>
      </div>
      <div class="form-row field-density">
        <div>
          <input id="id_density" class="form-control" name="density"  type="number" placeholder="Плотность">
          <p class="help">в гр/см<sup>3</sup>, например, pSi = 2.33 гр/см <sup>3</sup></p>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="col-md-6">  
      <div class="form-group check_area_geom" style="margin-right: 70px;">
        <label for="exampleInputEmail1">Геометрия</label>
        <p  style="margin-top: 30px;" class="help-block">N - номер в табл. Менд., x, y, z  - относит. коорд. атома в элементарной ячейке, Ocupp - вероятность нахождения атома в данном месте. Ниже в текстовом поле приведен пример геометрии кристалла Германия. </p>
<!-- __________________________________________________________ -->
<textarea class="form-control" rows="10" id = "text_area_geometry">
32 0 0 0 1
32 0.5 0.5 0 1
32 0.5 0 0.5 1
32 0 0.5 0.5 1
32 0.25 0.25 0.75 1
32 0.25 0.75 0.25 1
32 0.75 0.25 0.25 1
32 0.75 0.75 0.75 1</textarea>
<!-- __________________________________________________________ -->

      </div>
      <div class="form-group" id = 'file_div'>
        <p class="help-block">Вы также можете воспользоваться загрузкой геометрии из текстового файла:</p>
        
        <div class="input-group">
          <div class="input-group-btn">
            <label class="btn btn-default btn-file">
                <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                <input type="file"  id="geomInputFile" style="display: none;">
            </label>
          </div>
          <input type="text" style="width: 200px;" class="form-control" id = 'file_name' aria-label="...">
        </div>
      </div>
      <div style="margin-right: 70px;" >
        <textarea style="margin-top: 20px; width: 100%;" disabled rows="10" id = "info_geometry" placeholder="Окно для вывод информации..."></textarea>
      </div>
  </div>
</div><!--  первая строка -->
<div class="row" style="margin-left: 30px;"><!--  вторая строка -->
  <div class="col-md-2" id = "btn_check">
    <div class="input-group"  style="margin-top: 10px;">             
      <div class="input-group-btn">
        <button type="button" id="check" class="btn btn-info" style="width: 100%;">Проверка</button>
      </div>
      <span class="input-group-addon " id="loader_addon_check" style="background-color: transparent;"></span>
    </div>
  </div>

  <div class="col-md-2" id = 'btn_save' style="display: none;">
    <div class="input-group" style="margin-top: 10px;">             
      <div class="input-group-btn">
        <button type="button" id="save" class="btn btn-success" style="width: 100%;">Сохранить</button>
      </div>
      <span class="input-group-addon " id="loader_addon" style="background-color: transparent;"></span>
    </div>
  </div>
</div><!--  вторая строка -->



<script type="text/javascript">

  $(document).ready(function(){
    $( "#id_crystal_system" ).change(function() {
      syng = $( "#id_crystal_system option:selected" ).text();








      if(syng == 'Триклинная' ){
        $('#id_alfa,#id_beta,#id_gamma,#id_b,#id_c').prop( "disabled", false );
      }
      else if(syng == 'Моноклинная'){
        $('#id_beta,#id_b,#id_c').prop( "disabled", false );

        $('#id_alfa,#id_gamma').prop( "disabled", true );
        $('#id_alfa,#id_gamma').val('90');

      }
      else if(syng == 'Ромбическая'){
        $('#id_b,#id_c').prop( "disabled", false );
        $('#id_alfa,#id_beta,#id_gamma').prop( "disabled", true );
        $('#id_alfa,#id_beta,#id_gamma').val('90');
      }
      else if(syng == 'Тетрагональная'){
        $('#id_c').prop( "disabled", false );
        $('#id_b').prop( "disabled", true );
        $('#id_b').val($('#id_a').val());

        $('#id_alfa,#id_beta,#id_gamma').prop( "disabled", true );
        $('#id_alfa,#id_beta,#id_gamma').val('90');

      }
      else if(syng == 'Гексагональная'){
        $('#id_c').prop( "disabled", false );
        $('#id_b').prop( "disabled", true );
        $('#id_b').val($('#id_a').val());
        
        $('#id_alfa,#id_beta,#id_gamma').prop( "disabled", true );
        $('#id_alfa,#id_beta').val('90');
        $('#id_gamma').val('120');
      }
      else if(syng == 'Тригональная'){
        $('#id_b,#id_c').prop( "disabled", true );
        $('#id_b').val($('#id_a').val());
        $('#id_c').val($('#id_a').val());

        $('#id_beta,#id_gamma').prop( "disabled", true );
        $('#id_beta').val($('#id_alfa').val());
        $('#id_gamma').val($('#id_alfa').val());

        $('#id_alfa').prop( "disabled", false );
      }
      else if(syng == 'Кубическая'){
        $('#id_b,#id_c').prop( "disabled", true );
        $('#id_b').val($('#id_a').val());
        $('#id_c').val($('#id_a').val());

        $('#id_alfa,#id_beta,#id_gamma').prop( "disabled", true );
        $('#id_alfa,#id_beta,#id_gamma').val('90');

        
      }
      else{

      };
    });

    $( '#geomInputFile' ).on("change", function(){
      if ( ! window.FileReader ) {
        return alert( 'Ваш браузер не поддерживает загрузку' );
      }
      var $i = $( '#geomInputFile' ), // Put file input ID here
        input = $i[0]; // Getting the element from jQuery
      if ( input.files && input.files[0] ) {
        file = input.files[0]; // The file
        fr = new FileReader(); // FileReader instance
        fr.onload = function () {
          // Do stuff on onload, use fr.result for contents of file
          $( '#text_area_geometry' ).val(fr.result);
          document.getElementById("file_name").value = file.name;
        };
        fr.readAsText( file );
        // fr.readAsDataURL( file );
      } else {
        // Handle errors here
        alert( "Файл не выбран или браузер устарел" )
      }
    } );

    var compute_dict = {};
    var info = ''; 
    
    


    $("#check").click(function(event){
      var lines = $('#text_area_geometry').val().split('\n');
      var flag = false;
      var english = /^[A-Za-z0-9]*$/;
      info = '';
      $(".check_area_geom, #id_name, #id_short_name, #id_crystal_system, #id_a, #id_b, #id_c, #id_alfa, #id_beta, #id_gamma, #id_density").removeClass("error");
      if (lines.length<=1) {
        flag = true;
        info +='Недостаточно атомов в элементарной ячейке, добавтье структуру; \n';
        $('.check_area_geom').addClass("has-error");
      }
      else {
        info +='Атомов в элементарной ячейке: '+lines.length + ';\n';
      };
      var geom = '';
      for(var i = 0;i < lines.length;i++){
          var s = lines[i];
          var atom = s.split(/(\s+)/).filter( function(e) { return e.trim().length > 0; } );
          if (atom.length!=5){
             info +='У каждого атома (строка) 5 параметров (столбцов), в строке №'+(i+1)+' их '+ atom.length + ';\n';
             flag = true;
             $('.check_area_geom').addClass("has-error");
          };
          if (!Number.isInteger(parseInt(atom[0])) || parseInt(atom[0]) >92 || parseInt(atom[0]) < 0) {
            info +='атом №' +(i+1)+' невозможно найти в таблице Менделеева'+'; \n';
            flag = true;
            $('.check_area_geom').addClass("has-error");
          };
          if (parseFloat(atom[1])<0 || parseFloat(atom[1])>1 || parseFloat(atom[2])<0 || parseFloat(atom[2])>1 || parseFloat(atom[3])<0 || parseFloat(atom[3])>1) {
            info +='атом №' +(i+1)+'  расположен за пределами элементарной ячейки x||y||z не пренадлежит [0,1]'+'; \n';
            flag = true;
            $('.check_area_geom').addClass("has-error");
          };
          if (parseFloat(atom[4])<0 || parseFloat(atom[4])>1) {
            info +='атом №' +(i+1)+'  -  вероятность обнаружить атом в данном месте должна принадлежать [0,1]'+';\n';
            flag = true;
            $('.check_area_geom').addClass("has-error");
          };
          geom += parseInt(atom[0]) + ' ' + parseFloat(atom[1]) + ' ' + parseFloat(atom[2]) + ' ' + parseFloat(atom[3]) + ' ' + parseFloat(atom[4])+ ' // ';
      }; //endfor
      // проверка левого столбца
      compute_dict['id_geom'] = geom;

      
      //проверка названия
      compute_dict['id_name'] = $( "#id_name").val();
      if (!english.test(compute_dict['id_name']) || !compute_dict['id_name']){
        flag = true;
        $('#id_name').addClass("error");
      };

      //проверка хим формулы
      compute_dict['id_short_name'] = $( "#id_short_name").val();
      if (!english.test(compute_dict['id_short_name']) || !compute_dict['id_short_name']){
        flag = true;
        $('#id_short_name').addClass("error");
      };

      //проверка а,b,c
      compute_dict['id_a'] = $( "#id_a").val();
      if (compute_dict['id_a'] >100 || compute_dict['id_a'] <0 || !compute_dict['id_a'] ){
        flag = true;
        $('#id_a').addClass("error");
      };
      compute_dict['id_b'] = $( "#id_b").val();
      if (compute_dict['id_b']>100 || compute_dict['id_b']<0 || !compute_dict['id_b']){
        flag = true;
        $('#id_b').addClass("error");
      };
      compute_dict['id_c'] = $( "#id_c").val();
      if (compute_dict['id_c']>100 || compute_dict['id_c']<0 || !compute_dict['id_c']){
        flag = true;
        $('#id_c').addClass("error");
      };

      //проверка аlfa,beta,gamma
      compute_dict['id_alfa'] = $( "#id_alfa").val();
      if (compute_dict['id_alfa']>360 || compute_dict['id_alfa']<0 || !compute_dict['id_alfa']){
        flag = true;
        $('#id_alfa').addClass("error");
      };
      compute_dict['id_beta'] = $( "#id_beta").val();
      if (compute_dict['id_beta']>360 || compute_dict['id_beta']<0 || !compute_dict['id_beta']){
        flag = true;
        $('#id_beta').addClass("error");
      };
      compute_dict['id_gamma'] = $( "#id_gamma").val();
      if (compute_dict['id_gamma']>360 || compute_dict['id_gamma']<0 || !compute_dict['id_gamma']){
        flag = true;
        $('#id_gamma').addClass("error");
      };


      compute_dict['id_density'] = $( "#id_density").val();
      if (compute_dict['id_density']>100 || compute_dict['id_density']<0 || !compute_dict['id_density']){
        flag = true;
        $('#id_density').addClass("error");
      };

      compute_dict['syngony'] = $( "#id_crystal_system option:selected" ).text();





      $( '#info_geometry' ).val(info);
      if (!flag) {
        $('#check_status').remove();
        $('#loader_addon_check').append('<span id = "check_status" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>');
        $('#btn_save').show();
        $('#btn_check').hide();

      }
      else{
        $('#check_status').remove();
        $('#loader_addon_check').append('<span id = "check_status" class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>');
      };



    });

    $(".check_area_geom, #id_name, #id_short_name, #id_crystal_system, #id_a, #id_b, #id_c, #id_alfa, #id_beta, #id_gamma, #id_density").click(function(){
      $(this).removeClass("error");
    });

    $( "#id_name, #id_short_name, #id_crystal_system, #id_a, #id_b, #id_c, #id_alfa, #id_beta, #id_gamma, #id_density, #text_area_geometry").change(function() {
      $('#btn_save').hide();
      $('#btn_check').show();
      $('#check_status').remove();
      $('#loader_addon_check').append('<span id = "check_status" class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>');

    });


    //Сохранить
    $("#save").click(function(){
      $.ajaxSetup({data: {
        csrfmiddlewaretoken: '{{ csrf_token }}'
      }});
      $.post("/polarizability/add_crystal/", compute_dict ,function(data) {
        var info_2 = info
        info_2 +=data.status+'\n'
        $( '#info_geometry' ).val(info_2);
      });

    });


  });
</script>
{% endblock %}