{% extends "general/index_old.html" %}
  {% block title %}
  <title>Поляризуемость &#967; </title>
  {% load static %}

    <script src="{% static "graph/plotly/plotly-latest.min.js"%}" ></script>
    <script src="{% static "bootstrap/js/popover.js"%}"></script>
    <script src="{% static "bootstrap/js/dropdown.js"%}"></script>
    <script src="{% static "bootstrap/js/modal.js"%}"></script>





    <style type="text/css">
      .loader {
        background-image: url("{% static "loader/loader-128x/Preloader_3.gif"%}");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 100%;
        color: transparent;
        background-color: transparent;
      }
      .check_danger{
        background-color: #d9534f;

      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
          /* display: none; <- Crashes Chrome on hover */
          -webkit-appearance: none;
          margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
      }
    </style>
  {% endblock %}

{% block content %}

  <div class="row" style="min-height: 500px">
    <div class="col-md-3">  <!-- Первая колонка -->
      <div class="row" style="margin-left: 10px; margin-bottom: 25px;">
        <div class="btn-group">
          <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">меню<span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="add_crystal/">Добавить кристалл</a></li>
          </ul>
        </div>
      </div>
      <div class="row" id = "id_assym_img" style="text-align: center; margin-bottom: 20px; display: none;">
        <div class="row">
          <img src="{% static "polarizability/img/asym.png"%}" height="200" width="200">
        </div>
        <div class="row" style="margin-top: 20px;">
          <label class="radio-inline">
            <input type="radio" name="assym_alfa_then_beta" id="inlineRadio1" value="1" checked="true">
            <span class="label label-primary">синий луч</span>
          </label>
          <label class="radio-inline">
            <input type="radio" name="assym_alfa_then_beta" id="inlineRadio2" value="-1">
              <span class="label label-danger">красный луч</span>
          </label>
        </div>
        <div class="row" style="margin-top: 20px;">
          <label class="radio-inline">
            <span class="label label-primary">угол асимм.</span>
            <input  type="number" style="text-align: center; margin-top:10px;" placeholder="фи" class="form-control input-sm" id="fi_prmtr" aria-describedby="basic-addon3">

          </label>
        </div>
      </div>

      <div class="row" style="overflow:auto; height: 300px; margin-left: 10px; overflow-y:scroll;">
        <table class="table table-bordered" id = "inputgroup_check_choose_crystal_parent" style="">
         {% for crystal in crystals %}
            <tr>
              <td ><input type="radio" name="crystal" id = "{{crystal.id}}" value="{{crystal.id}}"></td>
              <td>
              <label for = "{{crystal.id}}">{{crystal.name}} </label>
              </td>
              <td>
                <a data-toggle="tooltip" data-placement="right" title="{{crystal.short_name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{crystal.crystal_system}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a&nbsp;=&nbsp;{{crystal.a}}&nbsp;&#8491;; b&nbsp;=&nbsp;{{crystal.b}}&nbsp;&#8491;; c&nbsp;=&nbsp;{{crystal.c}}&nbsp;&#8491;; &#945;&nbsp;=&nbsp;{{crystal.alfa|floatformat:0}}&nbsp;&deg;; &beta;&nbsp;=&nbsp;{{crystal.beta|floatformat:0}}&nbsp;&deg;; &#947;&nbsp;=&nbsp;{{crystal.gamma|floatformat:0}}&nbsp;&deg;;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#961;&nbsp;&nbsp;=&nbsp;&nbsp;{{crystal.density}}" >
                  <span class="label label-info image">info</span>
                </a>
                  {% for group in user.groups.all %}
                    {% if "user_admin" == group.name %}
                      <a class="btn_remove_crystal" name = "{{crystal.id}}" > <span class="label label-danger image">x</span></a>
                      <form method="POST"  action="add_crystal/">
                        {% csrf_token %}
                        <input type="hidden" name = "edit_crystal" value = "{{crystal.id}}">
                        <a href="#" onclick="$(this).closest('form').submit()" > <span class="label label-primary image">edit</span></a>
                      </form>
                    {% endif %}
                  {%endfor%}

              </td>
            </tr>
          {% endfor %}
        </table>
      </div>


      <div class="row" style="margin-top:30px;">
        <label style="float: left; margin-left: 20px;">
          <input type="checkbox" value="" id = "external_field">
          Внешнее поле
        </label>
      </div>
      <div class="row" id = 'external_field_row'>
        <div class="row" style=" margin-top:10px;">
          <div class="col-md-2">          </div>
          <div class="col-md-8">
            <div class="input-group " id = "" >
              <span class="input-group-addon" id="sizing-addon1"><small>V</small></span>
              <input tabindex="" type="number"  style="text-align: center;" value="1000" placeholder="volt" class="form-control" id="volt" aria-describedby="basic-addon3">
            </div>
            <div class="input-group " style= 'margin-top:10px;' id = "" >
              <span class="input-group-addon" id="sizing-addon1"><small>V</small></span>
              <input tabindex="" type="number"  style="text-align: center;" value="0.5" placeholder="мм" class="form-control" id="sample_width" aria-describedby="basic-addon3">
            </div>
          </div>
        </div>

        <div class="row" style="text-align:center; margin:10px;">
            <table class="table table-bordered table-condensed">
              <tbody>
                <tr>
                  <td><input type="number" id = '' placeholder="d11"  value="6.5" class="form-control"  /></td>
                  <td><input type="number" id = '' placeholder="d12"  value="-13" class="form-control"/></td>
                  <td><input type="number" id = '' placeholder="d13"  value="0" class="form-control" /></td>
                  <td><input type="number" id = '' placeholder="d14"  value="4.7" class="form-control"/></td>
                  <td><input type="number" id = '' placeholder="d15"  value="0" class="form-control" /></td>
                  <td><input type="number" id = '' placeholder="d16"  value="0" class="form-control" /></td>
                </tr>
                <tr>
                  <td><input type="number" id = '' placeholder="d21"  value="0" class="form-control" /></td>
                  <td><input type="number" id = '' placeholder="d22"  value="0" class="form-control"/></td>
                  <td><input type="number" id = '' placeholder="d23"  value="0" class="form-control" /></td>
                  <td><input type="number" id = '' placeholder="d24"  value="0" class="form-control" /></td>
                  <td><input type="number" id = '' placeholder="d25"  value="0" class="form-control" /></td>
                  <td><input type="number" id = '' placeholder="d26"  value="0" class="form-control" /></td>
                </tr>
                <tr>
                  <td><input type="number" id = '' placeholder="d31"  value="0" class="form-control" /></td>
                  <td><input type="number" id = '' placeholder="d32"  value="0" class="form-control" /></td>
                  <td><input type="number" id = '' placeholder="d33"  value="0" class="form-control" /></td>
                  <td><input type="number" id = '' placeholder="d34"  value="0" class="form-control" /></td>
                  <td><input type="number" id = '' placeholder="d35"  value="0" class="form-control" /></td>
                  <td><input type="number" id = '' placeholder="d36"  value="0" class="form-control" /></td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="row" style="margin: 30px">
          <textarea class="form-control" rows="7" id = "output_piezo_data"></textarea>
        </div>
      </div>
    </div> <!-- Первая колонка -->



     <div class="col-md-4 " style="margin-left: 10px;" > <!-- Вторая колонка -->

        <div class="row">

        <div class="row">
            <label style="float: left; margin-left: 20px;">
            <input type="checkbox" value="" id = "check_symmetric_case" checked>
            симметричное отражение
          </label>
          <div id="loader_addon" style="margin-right: 30px; width: 35px; height: 35px; background-color: transparent; float: right;">
          </div>
        </div>


          <div class="col-md-6">
          <!-- surface index h -->
          <div class="row">
              <div class="input-group " id = "inputgroup_check_h_index_surface" >
                <span class="input-group-addon" id="sizing-addon1"><small>Surface index</small></span>
                <input tabindex="1" type="number"  style="text-align: center;" value="2" placeholder="h" class="form-control" id="h_index_surface" aria-describedby="basic-addon3">
              </div>
            </div>
            <div class="row" style="margin-top: 10px;">
              <div class="input-group " id = "inputgroup_check_h_index" >
                <span class="input-group-addon" id="sizing-addon1"><small>Miller Indices</small></span>
                <input type="number"  tabindex="4" style="text-align: center;" value="2" placeholder="h" class="form-control" id="h_index" aria-describedby="basic-addon3">
              </div>
            </div>
            <div class="row" style="margin-top: 12px">
              <select tabindex="7"  class="form-control" id ='lab_source' size="6" onChange="document.getElementById('wavelength').value = this.value; document.getElementById('energy_val').value = (12398/this.value).toFixed(4);">
              {%for source in lab_source%}
                <option value="{{source.wavelength}}"><small>{{source.name}}-{{source.wavelength|floatformat:3}} &#8491;</small></option>
              {% endfor %}
              </select>
            </div>
          </div>

          <div class="col-md-6">
          <!-- k,l index - surface of crystal -->
            <div class="row">
              <div class="col-md-6" id = "inputgroup_check_k_index_surface">
                <input type="number" tabindex="2"  style="text-align: center;" value="2" placeholder="k" class="form-control" id="k_index_surface" aria-describedby="basic-addon3">
              </div>

              <div class="col-md-6" id = "inputgroup_check_l_index_surface">
                <input type="number" tabindex="3"  style="text-align: center;" value="0" placeholder="l"  class="form-control" id="l_index_surface" aria-describedby="basic-addon3">
              </div>
            </div>

            <!-- k,l index - surface of PLANAR -->
            <div class="row" style="margin-top: 10px;">
              <div class="col-md-6" id = "inputgroup_check_k_index">
                <input type="number" tabindex="5"  style="text-align: center;" value="2" placeholder="k" class="form-control" id="k_index" aria-describedby="basic-addon3">
              </div>

              <div class="col-md-6" id = "inputgroup_check_l_index">
                <input type="number" tabindex="6" style="text-align: center;" value="0" placeholder="l"  class="form-control" id="l_index" aria-describedby="basic-addon3">
              </div>
            </div>

            <div class="row">
              <dir class="col-md-12">
                <div class="input-group" id = "inputgroup_check_wave">
                  <input type="number" class="form-control" tabindex="8"  id ="wavelength"  placeholder="wavelength" \
                  onChange="document.getElementById('energy_val').value = (12398/this.value).toFixed(4);document.getElementById('lab_source').value = 0;">
                  <span class="input-group-addon">&#8491;</span>
                </div>
                <div class="input-group" id = "inputgroup_check_energy" style="margin-top: 5px;">
                  <input type="number" id='energy_val' class="form-control" placeholder="energy" \
                  onChange="document.getElementById('wavelength').value = (12398/this.value).toFixed(4);document.getElementById('lab_source').value = 0;">
                  <span class="input-group-addon">eV</span>
                </div>
                <div class="input-group" style="margin-top: 10px;">

                  <div class="input-group-btn">
                    <button type="button" id="compute" class="btn btn-default" style="width: 100%;">Compute...</button>
                  </div>

                </div>
              </dir>

            </div>
          </div>

       </div><!-- / Индексы МИЛЛЕРА -->

       <div class="row" style="margin-right: 2px">
            <textarea class="form-control" rows="13" id = "output_data"></textarea>

        </div>
     </div><!-- / Вторая колонка -->
     <div class="col-md-4">
      <div class="row" style="margin-left: 20px; margin-top: 10px;">
        <a id ="get_data" download="data.txt" style="display: none"><span class="label label-default image">data.txt</span></a>
      </div>
      <div class="row" id="myDiv"></div>
     </div>
  </div>

<!-- Передаем параметры в backend + проверка на вшивость src="{% static "polarizability/polarizability.js"%}"-->
<script type="text/javascript">
  $('#external_field_row').hide();

  $("#check_symmetric_case").change(function() {
      if(this.checked) {
        $('#h_index_surface,#k_index_surface,#l_index_surface').prop( "disabled", true );
        $('#h_index_surface,#k_index_surface,#l_index_surface').val('');
        $('#id_assym_img').hide();

      }
      else{
        $('#h_index_surface,#k_index_surface,#l_index_surface').prop( "disabled", false );
         $('#id_assym_img').show();
      }
  });

  $("#external_field").change(function() {
      if(this.checked) {
        $('#external_field_row').show();

        // $('#h_index_surface,#k_index_surface,#l_index_surface').prop( "disabled", true );
        // $('#h_index_surface,#k_index_surface,#l_index_surface').val('');
        // $('#id_assym_img').hide();

      }
      else{
        $('#external_field_row').hide();

        // $('#h_index_surface,#k_index_surface,#l_index_surface').prop( "disabled", false );
        //  $('#id_assym_img').show();
      }
  });

  $("#check_symmetric_case").change();
 var flag_delete;
 $(function() {
    $('#delete_for_sure').click(function() {
      var delelete = {'id' :$(this).attr('name')};
      $.ajaxSetup({data: {
        csrfmiddlewaretoken: '{{ csrf_token }}'
      }});
      $('#myModal_forsure').modal('hide');
      $.post("delete/", delelete ,function(data) {
        alert(data.status);
        location.reload();
      });
    });

    $(".btn_remove_crystal").click(function() {
      $('#myModal_forsure').modal('show');
      $('#delete_for_sure').attr('name',$(this).attr('name'))
    });

    $("#compute").click(function() {
      $("#loader_addon").addClass("loader"); //анимациая загрузки

      var flag = false;

      if ($("#check_symmetric_case").is(":checked")){
          $('#h_index_surface').val($('#h_index').val());
          $('#k_index_surface').val($('#k_index').val());
          $('#l_index_surface').val($('#l_index').val());
        }

      if (!$.isNumeric($('#wavelength').val())){ // проверка, длина волны это число или нет, если нет то покрасить красным input
        $("#inputgroup_check_wave").addClass("has-error");
        $("#inputgroup_check_energy").addClass("has-error");
        flag = true;
        $("#loader_addon").removeClass("loader");
      }

      if (!$('input[name=crystal]').is(':checked')){
         $("#inputgroup_check_choose_crystal_parent").addClass("check_danger");
        flag = true;
        $("#loader_addon").removeClass("loader");
      }

      if ($('#h_index').val() == 0 &&  $('#k_index').val() == 0 &&  $('#l_index').val()==0){
        flag = true;
        $("#inputgroup_check_k_index").addClass("has-error");
        $("#inputgroup_check_h_index").addClass("has-error");
        $("#inputgroup_check_l_index").addClass("has-error");
        alert(' h=k=l=0 !!!');
        $("#loader_addon").removeClass("loader");
      }


      if (flag != true) {
        $.ajaxSetup({data: {
        csrfmiddlewaretoken: '{{ csrf_token }}'
        }});

        var compute_dict = {};
        compute_dict["wavelength"] = $('#wavelength').val();

        if (!$.isNumeric($('#l_index_surface').val()) || !$.isNumeric($('#k_index_surface').val()) || !$.isNumeric($('#l_index_surface').val()) ) {
          console.log('индекс surface не задан')
          $('#h_index_surface').val($('#h_index').val());
          $('#k_index_surface').val($('#k_index').val());
          $('#l_index_surface').val($('#l_index').val());
        }
        compute_dict["h_surface"] = $('#h_index_surface').val();
        compute_dict["k_surface"] = $('#k_index_surface').val();
        compute_dict["l_surface"] = $('#l_index_surface').val();

        compute_dict["h"] = $('#h_index').val();
        compute_dict["k"] = $('#k_index').val();
        compute_dict["l"] = $('#l_index').val();
        compute_dict["fi_prmtr"] = $('#fi_prmtr').val();
        compute_dict["crystal_id"] = $('input[name=crystal]').filter(':checked').val();
        compute_dict["assym_alfa_then_beta"] = $('input[name=assym_alfa_then_beta]').filter(':checked').val();

        if(document.getElementById('external_field').checked) {
            compute_dict['external_field'] = 'yes';
            compute_dict["volt"] = $('#volt').val();
            compute_dict["sample_width"] = $('#sample_width').val();
        }



        $.post("compute/", compute_dict ,function(data) {
          if(data.error){
            var text_out = data.error;
          }
          else if(data.forbidden) {
            var text_out = 'ЗАПРЕЩЕННОЕ ОТРАЖЕНИЕ'+ '\n Угол Брегга = '+ data.bragg + ' град. \n' +
            'межпл-ое,  d = ' + data.dprmtr + ' А \n' +
            'Глубина экстинкции: ' + data.extintion+ ' мкм' + '\n'+
            'Угол между отражающей плоскостью и поверхностью: ' + data.fi + ' град. \n' +
            'Сдвиг центра кривой за счет преломления: ' + data.sdvig + ' сек. \n' +
            'коэффициент ассиметрии b: ' + data.b + ' \n';
          }
          else{
            var text_out = 'Угол Брегга = '+ data.bragg + ' град. \n' +
            'X0 = (' +data.X0_real+ ' + i'+data.X0_imag+')E-7' +
            '\n' + 'Xh = (' + data.Xh_real+ ' + i'+data.Xh_imag+')E-7' + '\n' +
            'Полуширина: ' + data.delta + ' сек \n' +
            'межпл-ое,  d = ' + data.dprmtr + ' А \n' +
            'Глубина экстинкции: ' + data.extintion+ ' мкм' + '\n'+
            'Максимальный коэффициент отражения: ' + data.maximum + '\n' +
            'Угол между отражающей плоскостью и поверхностью: ' + data.fi + ' град. \n' +
            'Сдвиг центра кривой за счет преломления: ' + data.sdvig + ' сек. \n' +
            'коэффициент ассиметрии b: ' + data.b + ' \n' + data.status;
            $('#fi_prmtr').val($('input[name=assym_alfa_then_beta]').filter(':checked').val()*Math.abs(data.fi))
           };

           if(document.getElementById('external_field').checked) {
             var a = 'Угловая отстройка: ' +  data.difference_bragg + ' сек. \n' +
             'Изменение межпл.: ' + data.difference_dprmtr_percent + ' %. \n'
             $('#output_piezo_data').val(a);

           }

          var  data_download = new Blob([data.for_downloading], {type: 'text/plain'});
          var textFile = null;
          textFile = window.URL.createObjectURL(data_download);
          $("#get_data").attr('href',textFile);

          $('#output_data').val(text_out);
            var trace1 = {
              x: data.x_darwin,
              y: data.y_darwin,
              type: 'scatter'
            };

            var data = [trace1];

            var layout = {
              title: 'Darwin curve for perfect crystals',
              xaxis: {
                title: 'deviation from the Bragg angle',
                titlefont: {
                  family: 'Courier New, monospace',
                  size: 18,
                  color: '#7f7f7f'
                }
              },
              yaxis: {
                title: '|R|',
                titlefont: {
                  family: 'Courier New, monospace',
                  size: 18,
                  color: '#7f7f7f'
                }
              }
            };
            Plotly.newPlot('myDiv', data, layout);

          $("#loader_addon").removeClass("loader");//убрать анимациая загрузки
          $("#get_data").show();//покажем кнопку для выгрузки

        });

      };

    });

    // как только мы прикаснемся к одному из .. окон удалится класс окрасски
      $("#inputgroup_check_wave, #inputgroup_check_energy, #lab_source").click(function(){
          $("#inputgroup_check_energy").removeClass("has-error");
          $("#inputgroup_check_wave").removeClass("has-error");
      });

      $("#h_index_surface").click(function(){
          $("#inputgroup_check_h_index_surface").removeClass("has-error");
      });
      $("#k_index_surface").click(function(){
          $("#inputgroup_check_k_index_surface").removeClass("has-error");
      });
      $("#l_index_surface").click(function(){
          $("#inputgroup_check_l_index_surface").removeClass("has-error");
      });

      $("#h_index").click(function(){
          $("#inputgroup_check_h_index").removeClass("has-error");
      });
      $("#k_index").click(function(){
          $("#inputgroup_check_k_index").removeClass("has-error");
      });
      $("#l_index").click(function(){
          $("#inputgroup_check_l_index").removeClass("has-error");
      });

      $("#inputgroup_check_choose_crystal_parent").click(function(){
         $("#inputgroup_check_choose_crystal_parent").removeClass("check_danger");
      });
      // \ как только мы прикаснемся к одному из .. окон удалится класс окрасски

      $(document).ready(function(){ // подсказка при наведении
          $('[data-toggle="tooltip"]').tooltip();
      });

  });

</script>
<div class="modal fade" id="myModal_forsure" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Удаление</h4>
      </div>
      <div class="modal-body">
        Вы уверены, что хотите продолжить и удалить кристалл из базы данных?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button type="button" id ='delete_for_sure' class="btn btn-primary">Удалить</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
