{% extends "general/index.html" %}
  {% block title %}
  <title>Поляризуемость &#967; </title>
  {% load static %}
     <style type="text/css">
      body {
        padding-bottom: 40px;
      }


      /* Thin out the marketing headings */
      .featurette-heading {
        font-weight: 300;
        line-height: 1;
        letter-spacing: -1px;
      }


      /* RESPONSIVE CSS
      -------------------------------------------------- */

        .featurette-heading {
          font-size: 30px;
        }
      }

        .placeholders {
          margin-bottom: 30px;
          text-align: center;
        }
        .placeholders h4 {
          margin-bottom: 0;
        }
        .placeholder {
          margin-bottom: 20px;
        }
        .placeholder img {
          display: inline-block;
          border-radius: 50%;
        }
    </style>
  {% endblock %}
{% block logo %} 
   <a href="/"> HOME</a>
{% endblock %}
{% block content %}
 
      <div class="row">
        <div class="col-lg-6 ">
          <div class="col-lg-4 ">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"> 
          </div>
          <div class="col-lg-8">
            <h2>Марченков Н. В. </h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          </div>
          </div><!-- /.col-lg-6 -->

          <div class="col-lg-6">
          <div class="col-lg-4">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"> 
          </div>
          <div class="col-lg-8">
            <h2>Аткнин И. И. </h2>
            <p>Студент 6-го курса МГУ им. Ломоносова. <br>Сфера интересов: Дифракция РЛ, Визуализация физичекого эксперимента методом программирования с помощью Python C++ Javascript </p>
          </div>
          </div><!-- /.col-lg-6 -->

      </div><!-- /.row -->

      
      
      <hr>
      <div class="row featurette">
        <div class="col-md-7">
          <h3 class="featurette-heading">
            Лаборатория рентгеновских методов анализа и синхротроноого излучения 
            </h3>

          <p> <sup>Заведующий лабораторией: </sup></p>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/400x300/auto" alt="Generic placeholder image">
        </div>
      </div>
{% endblock %}