{% extends "general/index_old.html" %}
  {% block title %}
  <title>Об авторах &#967; </title>
  {% load static %}
     <style type="text/css">
      body {
        padding-bottom: 40px;
      }


      /* Thin out the marketing headings */
      .featurette-heading {
        font-weight: 300;
        line-height: 1;
        letter-spacing: -1px;
      }


      /* RESPONSIVE CSS
      -------------------------------------------------- */

        .featurette-heading {
          font-size: 30px;
        }
      }

        .placeholders {
          margin-bottom: 30px;
          text-align: center;
        }
        .placeholders h4 {
          margin-bottom: 0;
        }
        .placeholder {
          margin-bottom: 20px;
        }
        .placeholder img {
          display: inline-block;
          border-radius: 50%;
        }
    </style>
  {% endblock %}
{% block content %}
 
      <div class="row">
        <div class="col-lg-6 ">
          <div class="col-lg-4 ">
            <img src="{% static 'photos/MNV.jpg' %}" style="border-radius: 50%;" width="200" height="200" class="img-responsive" alt="Никита"> 
          </div>
          <div class="col-lg-8">
            <h2>Марченков Никита </h2>
            <p>Заместитель руководителя по научной работе Курчатовского комплекса НБИКС-технологий НИЦ «Курчатовский институт». <br> Сфера интересов: дифракция рентгеновских лучей, влияние внешних воздействий на состояние материаллов, моделирование и визуализация физических процессов </p>
          </div>
          </div><!-- /.col-lg-6 -->

          <div class="col-lg-6">
          <div class="col-lg-4">
            <img src="{% static 'photos/AII.png' %}" style="border-radius: 50%;" width="200" height="200" class="img-responsive" alt="Иван"> 
          </div>
          <div class="col-lg-8">
            <h2>Аткнин Иван </h2>
            <p>Студент МГУ им. Ломоносова. Инженер лаборатории. <br>Сфера интересов: дифракция рентгеновских лучей, влияние внешних воздействий на состояние материаллов, моделирование и визуализация физических процессов</p>
          </div>
          </div><!-- /.col-lg-6 -->

      </div><!-- /.row -->

      
      
      <hr>
      <div class="row featurette">
        <div class="col-md-7" style="margin-left: 20px;">
          <h3>
            Лаборатория рентгеновских методов анализа и синхротроноого излучения 
          </h3>
          <p class="lead">
            ФНИЦ "Кристаллография и фотоника" РАН был образован в апреле 2016 года путем присоединения к Институту кристаллографии им. А.В. Шубникова РАН Института проблем лазерных и информационных технологий РАН, Института систем обработки изображений РАН и Центра фотохимии РАН. В состав ФНИЦ “Кристаллография и фотоника” РАН также входят Филиал ИК РАН – Научно-исследовательский центр “Космическое материаловедение” и Институт фотонных технологий.
          </p>
        </div>
        <div class="col-md-4" style="margin-top: 25px;">
          <img class="featurette-image img-responsive center-block" style="height: 200px;" src="{% static 'icon/kif-logo.png' %}" alt="ФНИЦ Кристаллография">
        </div>
      </div>
      <hr>

      <div class="row featurette">
        <div class="col-md-4">
            <img class="featurette-image img-responsive center-block" src="{% static 'icon/nrcki-logo.jpg' %}" style="height: 200px;" alt="НИЦ Курчатовский">
        </div>
        <div class="col-md-7">
          <h3>
            Лаборатория синхротронно - нейтронных исследований 
          </h3>
          <p class="lead">
            В настоящее время НИЦ «Курчатовский институт» является одним из крупнейших научных центров России как по численности, так и по широте научных интересов и экспериментальных возможностей не только в атомной науке и технике, но и в различных областях физики. В НИЦ «Курчатовский институт» входят специализированные институты и научно-технические комплексы.
          </p>
        </div>
      </div>
{% endblock %}