{% extends "general/index.html" %}
  {% block title %}
  <title>Об авторах &#967; </title>
  {% load static %}
      
    <style>

    </style>

  {% endblock %}
  {% block content %}

  <div class="row" style=" background-color: #eee; height: 145px;" >
    <div class="input-group" style="margin: 50px;">
      <div class="input-group-btn">
        <label class="btn btn-default btn-file">
            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
            <input type="file" multiple id="geomInputFile" style="display: none;">
        </label>
      </div>
      <input type="text" style="width: 200px;" class="form-control" id = 'file_name' aria-label="...">
    </div>
  </div>
  <div class="row" style="margin-top: 50px;">
    <div class="col-md-4">
      
    </div>
    <div class="col-md-4" id = 'text_for_x_y' >
      <!-- <textarea class="form-control" rows="10" id = "text_area_geometry">
      </textarea> -->
    </div>
    <div class="col-md-4">
      
    </div>

  </div>
  
    

<script type="text/javascript">
  $( '#geomInputFile' ).on("change", function(){
      if ( ! window.FileReader ) {
        return alert( 'Ваш браузер не поддерживает загрузку' );
      }
      var $i = $( '#geomInputFile' ), // Put file input ID here
        input = $i[0]; // Getting the element from jQuery
      if ( input.files && input.files[0] ) {
        file = {}
        for (var j = 0; j <  input.files.length; j++) {
          file['file'+j] = input.files[j];
          a = new FileReader(); 
          // file['fr'+j].readAsText( file );
          b = a.readAsText( file['file'+j] );
          console.log( file['file'+j].name);
          console.log( b.result );

          // fr.onload = function () {
          //   $( "#text_for_x_y" ).append( "<textarea class='form-control' id = 'num_scan_"+j+"' rows='10'></textarea><hr>" );
          //   $( '#num_scan_'+j).val(file['fr'+j].result);
          //   console.log( file['file'+j].name)
          //   // document.getElementById("file_name").value = file.name;
          // };

        // fr.readAsDataURL( file );
        }
        
      } else {
        // Handle errors here
        alert( "Файл не выбран или браузер устарел" )
      }
    } );
</script>
  {% endblock %}