{% extends "general/index.html" %}
  {% block title %}
  <title>Об авторах &#967; </title>
  {% load static %}
      
    <style>

    </style>

  {% endblock %}
  {% block content %}

  <div class="row" style=" background-color: #eee; height: 145px;" >
    <div class="input-group" style="margin: 50px;">
        <label class="btn btn-default btn-file">
            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
            <input type="file" multiple id="geomInputFile" style="display: none;">
        </label>
    </div>
  </div>
  <div class="row" style="margin-top: 50px;">
    <div class="col-md-4">
      
    </div>
    <div class="col-md-4" id = 'text_for_x_y' >
      <!-- <textarea class="form-control" rows="10" id = "text_area_geometry">
      </textarea> -->
    </div>
    <div class="col-md-4">
      
    </div>

  </div>
  
    

<script type="text/javascript">
    var num = 0;
    var name_aa = [];
    $(document).ready(function(){
      $('#geomInputFile').on('change', function(e){
          for (var i = 0; i < this.files.length; i++) {
              name_aa[i] = (this.files[i].name);
              readFile(this.files[i], function(e) {
                // use result in callback...
              ok(e.target);
            });
          };
          
      });
    });


    function ok(text){
      var new_txt = text.result.split('\n');
      data = {};

      data['method'] = new_txt[0];
      data['scan_from'] = parseFloat(new_txt[2]);
      data['shag'] = parseFloat(new_txt[3]);
      data['how_many_detectors'] = parseFloat(new_txt[4]);
      data['points_1'] = parseInt(new_txt[5]);
      data['points_2'] = parseInt(new_txt[6]);
      data['scan_to'] = data['scan_from']+(data['points_1']-1)*data['shag'];
      data['body'] = [];
      var ind = 0;
      for (var i = 0; i < new_txt.length; i++) {
        inside = new_txt[i].split(' ');
        for (var j = 0; j < inside.length; j++) {
          if (!isNaN(parseFloat(inside[j]))) {
            data['body'][ind] = parseFloat(inside[j]);
            ind++;
          }
          
        };
      };
      l1 = data.splice(0,data['points_1']);
      l2 = data;
      console.log( l1,l1.length);
      console.log( '-------');
      console.log(l2,l2.length );


      
      $( "#text_for_x_y" ).append( name_aa[num]+"<br><textarea class='form-control' id = 'num_scan_"+num+"' rows='10'></textarea><hr>" );
      $( '#num_scan_'+num).val(text.result);
      num++;

    };

    function readFile(file, onLoadCallback){
      var reader = new FileReader();
      reader.onload = onLoadCallback;
      reader.readAsText(file);
    };
</script>
  {% endblock %}