<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE"> <!-- НЕ ЗАБЫТЬ УБРАТЬ -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="atknin_mindibekov">

    <link rel="icon" href="{% static "icon/icon.png" %}">

    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/jumbotron-narrow.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/own1.css" %}" rel="stylesheet">
    <script src="{% static "bootstrap/js/jquery-3.1.1.min.js"%}"></script>
    <script src="{% static "bootstrap/js/tooltip.js"%}"></script>

    {% block title%}
    <title>X-RAYS</title>
    {% endblock %}

    <style type="text/css">
      .error {
        border-color: #d9534f !important;
      }
    </style>

  </head>

  <body>
  <div class="header clearfix">


    <div class="container-fluid">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right" style="margin-top: 15px;" >
            {% if user.is_authenticated %}

            <span class="label label-default" style="margin-right: 5px;">{{user.username}}</span>
            <a type="button" id = 'btn_logout' data-toggle="tooltip" data-placement="bottom" title="выход"> <span class="glyphicon glyphicon-log-out"></span></a>
            
             <a href="\dashboard\">
              <span class="glyphicon glyphicon-user" style="margin-right: 30px;" aria-hidden="true"></span>
            </a>

            {% else %}
              <div class="form-inline">
                <div class="form-group">
                  <label class="sr-only" for="login_id">Логин</label>
                  <input type="text" class="form-control check_id_login" id="login_id" placeholder="Логин">
                </div>
                <div class="form-group">
                  <label class="sr-only" for="password_id">Пароль</label>
                  <input type="password" class="form-control check_id_login" id="password_id" placeholder="Пароль">
                </div>
                <button id = 'btn_login' class="btn btn-default">Войти</button>
              </div>
            {% endif %}
            
          </ul>
        </nav>

        <h3 class="text-muted">
          {% block logo %} 
            <a href="/"> <img height="60px" src="{% static "icon/x_rays_sign_2.png" %}"" alt="home"> </a>     
          {% endblock %}
        </h3>
      </div>


      <div class="row marketing" style="min-height: 500px;"><!-- основное тело -->
         {% block content %}

          <div class="col-lg-3"><!-- слева минюшка -->
            <ul class="nav nav-pills nav-stacked">

              <li role="presentation" style="background: #D5D5D5;">
              <a href="/polarizability/" style="color: #555; ">
                <h4 class="list-group-item-heading">Поляризумость   &#967; <sub>0,h</sub>  </h4> <br> 
                <p class="list-group-item-text"> #атомный фактор #структурный фактор #температурный 
                фактор #собственная кривая отражения</p></a></li>

              <li role="presentation" style="background: #D5D5D5;">
              <a href="/diffraction/" style="color: #555; "><h4>Дифракция </h4> <br> 
              #собери свою схему дифракции</a></li>

            </ul>
            <hr>
            <a href="/converter/" style="color: #555; "><h4><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> трс конвертер</h4> <br>
          </div><!-- / слева минюшка -->


           <div class="col-lg-9" style="padding: 50px;">
           Ваши права:  {% for group in user.groups.all %} | {{group}} | {%endfor%}
           <br>
            
          </div>
        {% endblock %}
      </div><!-- / основное тело -->




      <footer class="footer" align = center>
        <p>&copy; 2017 ФНИЦ "Кристаллография и фотоника" | НИЦ "Курчатовский институт"
        <br> 
        <a href="">об авторах</a> | <a href="/updates/">обновления</a> | <a href="#">обратная связь</a>
        <br>
        Данный сайт разработан при поддержке РФФИ (проект №16-32-60045 мол_а_дк)
        <br>
        
        </p>
      </footer>

    </div> <!-- /container -->
  <script type="text/javascript">
    $(function() {
      

      $("#btn_login").click(function() {
        if ($('#login_id').val() == '' || $('#password_id').val() == ''){
          $('.check_id_login').addClass("error");
          console.log('ОШИБКА')
          return;
        }
        else{
          var login_dict = {'login': $('#login_id').val(), 'password': $('#password_id').val() }

          $.ajaxSetup({data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
          }});

          $.post("/", login_dict ,function(data) {
            if (data.status == 'ok') {
              location.reload()
            }
            else{
              $('.check_id_login').addClass("error");
            }
          });
        };
      });

      $(".check_id_login").click(function(){
        $(this).removeClass("error");
      });
    });

    $("#btn_logout").click(function() {
          var login_dict = {'logout': 'quit' }

          $.ajaxSetup({data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
          }});

          $.post("/", login_dict ,function(data) {
            location.reload()
          });
      

      $(".check_id_login").click(function(){
        $(this).removeClass("error");
      });
    });

  </script>
  </body>
</html>
