<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE"> <!-- НЕ ЗАБЫТЬ УБРАТЬ -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="atknin">

    <link rel="icon" href="{% static "icon/icon.png" %}">

    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- <link href="{% static "bootstrap/css/jumbotron-narrow.css" %}" rel="stylesheet"> -->
    <!-- <link href="{% static "bootstrap/css/own1.css" %}" rel="stylesheet"> -->
    <script src="{% static "bootstrap/js/jquery-3.1.1.min.js"%}"></script>
    <script src="{% static "bootstrap/js/tooltip.js"%}"></script>
    
    <link href="http://fonts.googleapis.com/css?family=Lato:300|Open+Sans+Condensed:300" rel="stylesheet" type="text/css">
    <link href="{% static "index/css/index.css" %}" rel="stylesheet">
    <script src="{% static "index/js/index_modernizr.js"%}"></script>


    {% block title%}
    <title>X-RAYS</title>
    {% endblock %}

    <style type="text/css">
      .error {
        border-color: #d9534f !important;
      }
      .not-active {
         pointer-events: none;
         cursor: default;
      }
    </style>

  </head>

  <body>
 <div class="slidescroll-wrap"><!-- this element is required -->
  <div class="main"><!-- this element will be animated -->

  <div class="page class_start_index" id="start" data-slidescroll-title-selector="h1" style='background: url("{% static "index/img/start.png"%}") no-repeat;'> 
    <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right" style="margin-top: 15px;margin-right: 15px;" >
        {% if user.is_authenticated %}

        <span class="label label-default" style="margin-right: 5px;">{{user.username}}</span>
        
        <a type="button" id = 'btn_logout' data-toggle="tooltip" data-placement="bottom" title="выход"> <span class="glyphicon glyphicon-log-out"></span></a>
       
        <a href="\dashboard\">
          <span class="glyphicon glyphicon-user" style="margin-right: 30px;" aria-hidden="true"></span>
        </a>

        {% else %}
        <div class="form-inline">
          <div class="form-group">
            <label class="sr-only" for="login_id">Логин</label>
            <input type="text" class="form-control check_id_login" id="login_id" placeholder="Логин">
          </div>
          <div class="form-group">
            <label class="sr-only" for="password_id">Пароль</label>
            <input type="password" class="form-control check_id_login" id="password_id" placeholder="Пароль">
          </div>
          <button id = 'btn_login' class="btn btn-default">Войти</button>
        </div>
        {% endif %}

      </ul>
    </nav>
    <a href="/"> <img height="60px" src="{% static "icon/x_rays_sign_3.png" %}"" alt="home"> </a>     
    </div>

    <h1 style="display: none;">X-RAYS.WORLD</h1>
    <h2 style="text-align: center;" >X-Ray Diffraction Analysis calculation </h2>
    <a class="semi-transparent-button with-border" href="#calculation">Calculate</a>

    <h2 style="text-align: center;" >School project "Курчатовский проект"</h2>
    <a class="semi-transparent-button with-border" href="#school_project">Move</a>
    
    <div align="center"> <img height="120" src="{% static 'icon/kif-logo_2.png' %}"><img height="120" src="{% static 'icon/nrcki-logo_2.png' %}"></div>
    <footer class="footer">
      <p style="text-align: center;">&copy; 2017 ФНИЦ "Кристаллография и фотоника" | НИЦ "Курчатовский институт"
      <br> 
      <a href="">об авторах</a> | <a href="/updates/">обновления</a> | <a href="#">обратная связь</a>
      <br>
        Данный сайт разработан при поддержке РФФИ (проект №16-32-60045 мол_а_дк)
      <br>
      
      </p>
    </footer>
  </div>

  <div class="page class_calc_index" id="calculation" data-slidescroll-title="Second"><!-- these elements hold each content page -->
  <h2>Second Page</h2>
  <p>Donec porta varius iaculis. Ut ornare lacinia velit sit amet auctor. Nunc egestas leo ante, sed vestibulum ligula cursus non. Maecenas sodales arcu vel quam viverra, vel scelerisque neque lobortis. Suspendisse sollicitudin, arcu sit amet commodo ultricies, nulla lacus accumsan arcu, nec scelerisque turpis felis quis neque. Duis sed faucibus felis. Morbi venenatis tellus nec justo dictum euismod sed in ligula. Quisque mi nunc, malesuada at felis non, accumsan commodo massa. Maecenas ac dolor ac nisi dignissim pellentesque. Nunc vulputate aliquam suscipit. Morbi convallis ac lorem in aliquam. Sed dictum varius leo, sit amet congue metus cursus sit amet. Maecenas vehicula placerat scelerisque. Nullam congue egestas est nec fermentum. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
  </div>

  <div id="school_project" class="page class_school_index" data-slidescroll-title-selector="h2">
  <h2>Third page</h2>
  <p>Maecenas ut rutrum lectus, quis hendrerit magna. Donec augue dui, mollis at mollis in, egestas ut erat. Vestibulum quam turpis, eleifend ac erat non, mattis bibendum purus. Curabitur luctus, nisi in accumsan tempor, justo mi rutrum ante, ac volutpat ligula urna vel lectus. Nam eu eros sagittis, fringilla nunc id, gravida ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer interdum eget tellus eget faucibus. Donec vitae mi tincidunt, posuere turpis in, aliquet sapien. Morbi nec purus adipiscing, dignissim nibh vel, convallis sapien. Pellentesque leo ipsum, consequat vel enim nec, fermentum euismod arcu. Nam fringilla nec tellus at consequat. Pellentesque ac nisi enim. Ut ultrices sem ac tellus ornare molestie. Sed euismod lobortis ornare.</p>
  </div>
  </div>
  </div>
    <script src="{% static "index/js/jquery.mousewheel.js"%}"></script>
    <script src="{% static "index/js/jquery.slidescroll.js"%}"></script>
  <script>
      $(document).ready( function() {
          $('.main').slidescroll({
           'pagesSelector': '.page'
          });
      });
  </script>
   <script type="text/javascript">
    $(function() {
      $("#btn_login").click(function() {
        if ($('#login_id').val() == '' || $('#password_id').val() == ''){
          $('.check_id_login').addClass("error");
          console.log('ОШИБКА')
          return;
        }
        else{
          var login_dict = {'login': $('#login_id').val(), 'password': $('#password_id').val() }

          $.ajaxSetup({data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
          }});

          $.post("/", login_dict ,function(data) {
            if (data.status == 'ok') {
              location.reload()
            }
            else{
              $('.check_id_login').addClass("error");
            }
          });
        };
      });

      $(".check_id_login").click(function(){
        $(this).removeClass("error");
      });
    });

    $("#btn_logout").click(function() {
          var login_dict = {'logout': 'quit' }

          $.ajaxSetup({data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
          }});

          $.post("/", login_dict ,function(data) {
            location.reload()
          });
      

      $(".check_id_login").click(function(){
        $(this).removeClass("error");
      });
    });

  </script>
  </body>
</html>
