 <p style="margin-left: 10px; ">для корректого отображения рекомендуем использовать браузер chrome, а так же не использовать мобильные телефоны и планшеты</p> 
  
  <div class="row" style="margin: 10px;"> <!-- ошибка -->
            <div class="alert alert-danger" role="alert" id = "error_filling">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
            </div>
  </div><!-- /ошибка -->
  <div class="row" style="background-color: #FAFAFA; height: 360px;"> 
    <div class="col-md-7"> <!-- ДОСКА -->
      <canvas width=800 height=300 id="fabric"></canvas>
      <div style="display: none;">
        <img src="{% static 'diffraction/img/detector.png' %}" id="detector" >
        <img src="{% static 'diffraction/img/source.png' %}" id="source">
        <img src="{% static 'diffraction/img/sample.png' %}" id="sample" >
        <img src="{% static 'diffraction/img/slit.png' %}" id="slit" >
      </div>
    </div> <!-- /ДОСКА -->
    



    <div class="col-md-4" > <!-- НАСТРОЙКИ -->
    <!-- ИСТОЧНИК -->
      <div class="row settings" id="source_settings">  
      <span class="label label-primary">Параметры источника</span>
        <div class="form-group">
          <label>Анод:</label>
          <select class="form-control" id ='source_to_backend' size="6">
          {%for source in anod%}
            <option value="{{source.wavelength.all.0.wavelength }}"><small>{{source.name}}</small></option>
          {% endfor %}
          </select> 
        </div>
        <div class="form-group">
          <label>Полуширина излучающего пятная, расходимость источника</label>
          <div class="col-md-6 ">
            <div class="input-group ">
              <input type="text" class="form-control" value = 0.5 id="source_divergence_mmetr" disabled>
            <div class="input-group-addon">mm</div>
            </div>
          </div>
          <div class="col-md-6">
          <div class="input-group">
            <input type="text" class="form-control" value="600" id="source_divergence_arc" >
            <div class="input-group-addon">arcsec</div>
            </div>
          </div>
        </div>
      </div>
    <!-- / ИСТОЧНИК -->

    <!-- ЩЕЛЬ 1 -->
      <div class="row settings" id="slit1_settings">
        <span class="label label-primary">Параметры щели №1</span>
        <div class="form-group">
          <label>расстояние до источника</label>
            <div class="input-group ">
              <input type="text" class="form-control" value = 0.54 id="source_divergence_mmetr">
            <div class="input-group-addon">m</div>
            </div>
          </div>
          <div class="form-group">
          <label>Размер щели</label>
            <div class="input-group ">
              <input type="text" class="form-control" value = 0.02 id="source_divergence_mmetr">
            <div class="input-group-addon">mm</div>
            </div>
          </div>
      </div>
    <!-- / ЩЕЛЬ 1 -->

    <!-- ЩЕЛЬ 2 -->
      <div class="row settings" id="slit2_settings">
        <span class="label label-primary">Параметры щели №2</span>
        <div class="form-group">
          <label>расстояние до источника</label>
            <div class="input-group ">
              <input type="text" class="form-control" value = 0.99 id="source_divergence_mmetr">
            <div class="input-group-addon">m</div>
            </div>
          </div>
          <div class="form-group">
          <label>Размер щели</label>
            <div class="input-group ">
              <input type="text" class="form-control" value = 0.02 id="source_divergence_mmetr">
            <div class="input-group-addon">mm</div>
            </div>
          </div>
      </div>
      <!-- /ЩЕЛЬ 2 -->

  <!-- кристалл1 -->
      <div class="row settings" id="crystal1_settings" name = "1" > 
        <div style="margin-bottom: 20px"><span class="label label-primary">Параметры кристалла №1</span></div>

            <div class="col-md-4">
              <div class="row" style="height: 35px">
                <div class="input-group" >
                  <span class="input-group-addon" ><small>Miller Indices</small></span>
                </div>
              </div>
              <div class="row" style="margin-top: 12px" id = "check_crystal1">
                <select class="form-control" id ='select_crystal1' size="6" >
                {% for crystal in crystals %}
                  <option value="{{crystal.id}}"><small>{{crystal.name}}</small></option>
                {% endfor %}
                </select>  
              </div>
            </div>

            <div class="col-md-8">
              <div class="row" >
                <div class="col-md-4" id = "inputgroup_check_h_index1">
                  <input type="text"  style="text-align: center;" value="2" placeholder="h" class="form-control" id="h_index1" >
                </div>
                <div class="col-md-4" id = "inputgroup_check_k_index1">
                  <input type="text" style="text-align: center;" value="2" placeholder="k" class="form-control" id="k_index1" >
                </div>

                <div class="col-md-4" id = "inputgroup_check_l_index1">
                  <input type="text" style="text-align: center;" value="0" placeholder="l"  class="form-control" id="l_index1" >
                </div>
              </div>

              <div class="row" style="height: 35px; margin-top: 15px;">
                <div class="col-md-12">
                  <div class="input-group" id = "inputgroup_check_x0_1">
                    <input type="text" class="form-control" id ="x0_1"  placeholder="">
                    <span class="input-group-addon">&#967;<sub>0</sub>*E<sup>-7</sup></span>
                  </div> 
                  <div class="input-group" id = "inputgroup_check_xh_1" style="margin-top: 5px;">
                    <input type="text" id='xh_1' class="form-control" placeholder="" >
                    <span class="input-group-addon">&#967;<sub>h</sub>*E<sup>-7</sup></span>
                  </div>

                  <div class="input-group" style="margin-top: 5px;">
                    <div class="input-group-btn">
                      <button type="button" name = "1" id="getX1" class="btn btn-default" style="width: 100%;">get &#967;...</button>
                    </div>
                    <span class="input-group-addon " id="loader_addon1" style="background-color: transparent;"></span>
                  </div>
                </div>
                
              </div>
            </div>
       </div>
  <!-- / кристалл1 -->

  <!-- кристалл2 -->
      <div class="row settings" id="crystal2_settings" name = "2" > 
        <div style="margin-bottom: 20px"><span class="label label-primary">Параметры кристалла №2</span></div>

            <div class="col-md-4">
              <div class="row" style="height: 35px">
                <div class="input-group" >
                  <span class="input-group-addon" ><small>Miller Indices</small></span>
                </div>
              </div>
              <div class="row" style="margin-top: 12px" id = "check_crystal2">
                <select class="form-control" id ='select_crystal2' size="6" >
                {% for crystal in crystals %}
                  <option value="{{crystal.id}}"><small>{{crystal.name}}</small></option>
                {% endfor %}
                </select>  
              </div>
            </div>

            <div class="col-md-8">
              <div class="row">
                <div class="col-md-4" id = "inputgroup_check_h_index2">
                  <input type="text"  style="text-align: center;" value="2" placeholder="h" class="form-control" id="h_index2" >
                </div>
                <div class="col-md-4" id = "inputgroup_check_k_index2">
                  <input type="text" style="text-align: center;" value="2" placeholder="k" class="form-control" id="k_index2" >
                </div>

                <div class="col-md-4" id = "inputgroup_check_l_index2">
                  <input type="text" style="text-align: center;" value="0" placeholder="l"  class="form-control" id="l_index2" >
                </div>
              </div>

              <div class="row" style="height: 35px; margin-top: 15px;">
                <div class="col-md-12">
                  <div class="input-group" id = "inputgroup_check_x0_2">
                    <input type="text" class="form-control" id ="x0_2"  placeholder="">
                    <span class="input-group-addon">&#967;<sub>0</sub>*E<sup>-7</sup></span>
                  </div> 
                  <div class="input-group" id = "inputgroup_check_xh_2" style="margin-top: 5px;">
                    <input type="text" id='xh_2' class="form-control" placeholder="" >
                    <span class="input-group-addon">&#967;<sub>h</sub>*E<sup>-7</sup></span>
                  </div>


                  <div class="input-group" style="margin-top: 5px;">
                    <div class="input-group-btn">
                      <button type="button" id="getX2" name = "2" class="btn btn-default" style="width: 100%;">get &#967;...</button>
                    </div>
                    <span class="input-group-addon" id="loader_addon2" style="background-color: transparent;"></span>
                  </div>
                </div>
              </div>
            </div>
       </div>
  <!-- / кристалл2 -->


  <!-- кристалл3 -->
      <div class="row settings" id="crystal3_settings" name = "3" > 
          <div style="margin-bottom: 20px"><span class="label label-primary">Параметры кристалла №3</span></div>
        
            <div class="col-md-4">
              <div class="row" style="height: 35px">
                <div class="input-group" >
                  <span class="input-group-addon" ><small>Miller Indices</small></span>
                </div>
              </div>
              <div class="row" style="margin-top: 12px" id = "check_crystal3">
                <select class="form-control" id ='select_crystal3' size="6" >
                {% for crystal in crystals %}
                  <option value="{{crystal.id}}"><small>{{crystal.name}}</small></option>
                {% endfor %}
                </select>  
              </div>
            </div>

            <div class="col-md-8">
              <div class="row">
                <div class="col-md-4" id = "inputgroup_check_h_index3">
                  <input type="text"  style="text-align: center;" value="2" placeholder="h" class="form-control" id="h_index3" >
                </div>
                <div class="col-md-4" id = "inputgroup_check_k_index3">
                  <input type="text" style="text-align: center;" value="2" placeholder="k" class="form-control" id="k_index3" >
                </div>

                <div class="col-md-4" id = "inputgroup_check_l_index3">
                  <input type="text" style="text-align: center;" value="0" placeholder="l"  class="form-control" id="l_index3" >
                </div>
              </div>

              <div class="row" style="height: 35px; margin-top: 15px;">
                <div class="col-md-12">
                  <div class="input-group" id = "inputgroup_check_x0_3">
                    <input type="text" class="form-control" id ="x0_3"  placeholder="">
                    <span class="input-group-addon">&#967;<sub>0</sub>*E<sup>-7</sup></span>
                  </div> 
                  <div class="input-group" id = "inputgroup_check_xh_3" style="margin-top: 5px;">
                    <input type="text" id='xh_3' class="form-control" placeholder="" >
                    <span class="input-group-addon">&#967;<sub>h</sub>*E<sup>-7</sup></span>
                  </div>


                  <div class="input-group" style="margin-top: 5px;">
                    <div class="input-group-btn">
                      <button type="button" id="getX3" name = "3" class="btn btn-default" style="width: 100%;">get &#967;...</button>
                    </div>
                    <span class="input-group-addon" id="loader_addon3" style="background-color: transparent;"></span>
                  </div>
                </div>
              </div>
            </div>
       </div>
  <!-- / кристалл3 -->

  <!-- настроить детектор -->
      <div class="row settings" id="detector_settings" >
        <div style="margin-bottom: 20px"><span class="label label-primary">Параметры детектора</span></div>
        отсутсвуют
      </div>
  <!-- / настроить детектор -->
    </div><!-- / НАСТРОЙКИ -->

    <div class="row" style="margin-left: 15px;">
      <div class="col-md-7" style=" margin-top: 40px;">
        <button type="button" class="btn btn-primary" id ="compute_button" style="display: none;">compute</button>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>



<!-- Подсчитать поляризуемость -->
<script type="text/javascript">
  $( "#error_filling").hide();

 $(function() {
    $("#getX1,#getX2,#getX3").click(function() {
      var compute_dict = {};
      var cryst_num = $(this).attr( "name" );
      var hkl_valid_array = ['-9' ,'-8' ,'-7' ,'-6' ,'-5' ,'-4' ,'-3' ,'-2' ,'-1', '0','1' ,'2' ,'3' ,'4' ,'5' ,'6' ,'7' ,'8' ,'9' ]
      var flag = false
      var error_message = ''
      

      if (!$.isNumeric($('#source_to_backend').val())){ // проверка, выбран ли источник
        flag = true;   
        $( "#error_filling").show();
        error_message+="1. The source wasn't chosen. \n"
        $( "#error_filling" ).text(error_message);
      }

      if ($.inArray($('#h_index'+cryst_num).val(), hkl_valid_array) == -1){
         $("#inputgroup_check_h_index"+cryst_num).addClass("has-error");
        flag = true;
      }

      if ($.inArray($('#k_index'+cryst_num).val(), hkl_valid_array) == -1){
         $("#inputgroup_check_k_index"+cryst_num).addClass("has-error");
        flag = true;
      }
      if ($.inArray($('#l_index'+cryst_num).val(), hkl_valid_array) == -1){
         $("#inputgroup_check_l_index"+cryst_num).addClass("has-error");
        flag = true;
      }

       if (!$.isNumeric($('#select_crystal'+cryst_num).val())){ // проверка, выбран ли источник

        flag = true;   
        $("#check_crystal"+cryst_num).addClass("has-error");
      }

      if (flag != true) { 
        $("#loader_addon"+cryst_num).addClass("loader"); //анимациая загрузки
        $.ajaxSetup({data: {
        csrfmiddlewaretoken: '{{ csrf_token }}'
        }});
        compute_dict["h"] = $('#h_index'+cryst_num).val();
        compute_dict["k"] = $('#k_index'+cryst_num).val();
        compute_dict["l"] = $('#l_index'+cryst_num).val();
        compute_dict["crystal_id"] = $('#select_crystal'+cryst_num).val();
        compute_dict["wavelength"] = $('#source_to_backend').val();

        $.post("/polarizability/compute/", compute_dict ,function(data) {
          var x0_res = 
          $('#x0_'+cryst_num).val(data.X0_real + " + i"+data.X0_imag);
          $('#xh_'+cryst_num).val(data.Xh_real + " + i"+data.Xh_imag);

          
          $("#loader_addon"+cryst_num).removeClass("loader");//убрать анимациая загрузки
        });

      };
      
    });

// как только мы прикаснемся к одному из .. окон удалится класс окрасски
      $("#check_crystal1, #check_crystal2, #check_crystal3").click(function(){
          $(this).removeClass("has-error");
      });
      
      $( "#source_to_backend").click(function(){
          $("#error_filling").hide();
      });

      $("#h_index1").click(function(){
          $("#inputgroup_check_h_index1").removeClass("has-error");
      });
      $("#k_index1").click(function(){
          $("#inputgroup_check_k_index1").removeClass("has-error"); 
      });
      $("#l_index1").click(function(){
          $("#inputgroup_check_l_index1").removeClass("has-error"); 
      });
      $("#h_index2").click(function(){
          $("#inputgroup_check_h_index2").removeClass("has-error");
      });
      $("#k_index2").click(function(){
          $("#inputgroup_check_k_index2").removeClass("has-error"); 
      });
      $("#l_index2").click(function(){
          $("#inputgroup_check_l_index2").removeClass("has-error"); 
      });
      $("#h_index3").click(function(){
          $("#inputgroup_check_h_index3").removeClass("has-error");
      });
      $("#k_index3").click(function(){
          $("#inputgroup_check_k_index3").removeClass("has-error"); 
      });
      $("#l_index3").click(function(){
          $("#inputgroup_check_l_index3").removeClass("has-error"); 
      });
 // \ как только мы прикаснемся к одному из .. окон удалится класс окрасски
  });
</script>
<script type="text/javascript">
  diffraction_compute = {}
  diffraction_compute['status'] = 'from front'

  $(function() {
    $("#compute_button").click(function() {
      // щелли и расстояния до источника
      // источник - распределение по длине волны
      // источник распределение по углу - полуширина гаусса
      //область построения ? диапазон по углу и длине волны в графике
      // область свертки, наверное прочитать а строить все на клиенте
      // шаг по длине волны и по углу
      // шаг сдвижки
      // X0, - для всех кристаллов
      // Xh - для всех кристаллов
      // колличество кристаллов
      // колличество щелей
      // углы брегга для всех кристаллов
      // тип сканирования


      var flag = false
      diffraction_compute['total_elements'] = num_elem-1;
      diffraction_compute['total_crystals'] = num_elem_crystal-1;
      diffraction_compute['total_slits'] = num_elem_slit-1;

  // проверка на вшивость
      // кристаллы
      for (var i = 1; i < num_elem_crystal; i++) {
          $('#x0_'+i).val()
          $('#xh_'+i).val()
      }
      // щели
      for (var i = 1; i < num_elem_crystal; i++) {
          
      }







      // $.ajaxSetup({data: {
      //   csrfmiddlewaretoken: '{{ csrf_token }}'
      //   }})
      // $.post("compute/", diffraction_compute ,function(data) {
      //   console.log(data.status)
      // });
    });
  });

</script>

<script>
    $( "#source_settings, #slit1_settings,#slit2_settings, #crystal1_settings,#crystal2_settings,#crystal3_settings, #detector_settings" ).hide();
    var num_sample = 0;
    var num_slit = 0;
    var sample = {};
    var slit = {};
    var result_scheme = {
      'source':['true'],
      'sample1':['false'],
      'slit1':['false'],
      'sample2':['false'],
      'slit2':['false'],
      'sample3':['false'],
      'detector':['true']
    };



    var canvas = new fabric.Canvas('fabric');
    canvas.setBackgroundImage("{% static 'diffraction/img/background.png' %}", canvas.renderAll.bind(canvas));


    var crystal1 = new fabric.Rect({
      width: 30,
      height: 30,
      left: 570,
      top: 135,
      stroke: '#aaf',
      strokeWidth: 1,
      fill: '#FAFAFA',
      selectable: false,
      name: 'на это место можно установить кристалл',
      class: 'place_sample1'
    });
    crystal1.scale(0.5)
    canvas.add(crystal1);

    var crystal2 = new fabric.Rect({
      width: 30,
      height: 30,
      left: 464,
      top: 135,
      stroke: '#aaf',
      strokeWidth: 1,
      fill: '#FAFAFA',
      selectable: false,
      name: 'на это место можно установить кристалл',
      class: 'place_sample2'
    });
    crystal2.scale(0.5)
    canvas.add(crystal2);

    var crystal3 = new fabric.Rect({
      width: 30,
      height: 30,
      left: 350,
      top: 135,
      stroke: '#aaf',
      strokeWidth: 1,
      fill: '#FAFAFA',
      selectable: false,
      name: 'на это место можно установить кристалл',
      class: 'place_sample3'

    });
    crystal3.scale(0.5);
    canvas.add(crystal3);

    var slit1 = new fabric.Rect({
      width: 20,
      height: 20,
      left: 540,
      top: 138,
      stroke: '#95C3B3',
      strokeWidth: 1,
      fill: '#FAFAFA',
      selectable: false,
      angle: 90,
      name: 'на это место можно установить щель',
      class: 'place_slit1'
    });
    slit1.scale(0.5)
    canvas.add(slit1);

    var slit2 = new fabric.Rect({
      width: 20,
      height: 20,
      left: 413,
      top: 138,
      stroke: '#95C3B3',
      strokeWidth: 1,
      fill: '#FAFAFA',
      selectable: false,
      angle: 90,
      name: 'на это место можно установить щель',
      class: 'place_slit2'
    });
    slit2.scale(0.5)
    canvas.add(slit2);




//--------- добавить источник --------------
    
    var source = new fabric.Image(document.getElementById('source'), {
      left: 650,
      top: 125,
      // angle: 30,
      opacity: 0.85,
      shadow: 'rgba(0,0,0,0.3) 5px 5px 5px',
      selectable: false,
      name: 'источник, нажмите для настройки',
      class: 'source_settings'
    });
    source.scale(0.5);
    canvas.add(source);

// --------- добавть детектор ---------------
    var detector = new fabric.Image(document.getElementById('detector'), {
      left: 250,
      top: 135,
      // angle: 30,
      width: 100,
      height: 30,
      opacity: 0.85,
      shadow: 'rgba(0,0,0,0.3) 5px 5px 5px',
      selectable: false,
      name: 'детектор, нажмите для настройки',
      class: 'detector_settings'

    });
    detector.scale(0.5);
    canvas.add(detector);

// --------------добавить образец ---------------
    function addSample(){
      sample[''+num_sample] = new fabric.Image(document.getElementById('sample'), {
        left: 45,
        top: 50,
        // angle: 30,
        opacity: 0.85,
        shadow: 'rgba(0,0,0,0.3) 5px 5px 5px',
        name: 'кристалл, перетащите для установки',
        class: 'sample'
      });
      sample[''+num_sample].scale(0.5);
      sample[''+num_sample].hasControls = sample[''+num_sample].hasBorders = false;
      canvas.add(sample[''+num_sample]);
      num_sample++;
    };
    addSample();

    

// --------------добавить щель ---------------
    function addSlit(){
      slit[''+num_slit] = new fabric.Image(document.getElementById('slit'), {
        left: 60,
        top: 100,
        // angle: 30,
        opacity: 0.85,
        shadow: 'rgba(0,0,0,0.3) 5px 5px 5px',
        name: 'щель, перетащите для установки',
        class: 'slit'
      });
      slit[''+num_slit].scale(0.3);
      slit[''+num_slit].hasControls = slit[''+num_slit].hasBorders = false;
      canvas.add(slit[''+num_slit]);
      num_slit++;
    };
    addSlit();
      




// ---------при перетаскивании добавить на панель------
    canvas.on({
      'object:moving': onChange,
      // 'object:scaling': onChange,
      // 'object:rotating': onChange,

    });

    function onChange(options) {

      options.target.setCoords();
      canvas.forEachObject(function(obj) {
        if (obj === options.target) return;
        
        if(options.target.intersectsWithObject(obj)){
          var aa = options.target.intersectsWithObject(obj);
          // console.log('ok');
          if (options.target.class == 'slit' && 
                          obj.class =='place_slit1') {
            options.target.top = obj.top - options.target.height/10;
            options.target.left = obj.left - options.target.width/2;
            obj.left = 1000;
            options.target.selectable = false;
            options.target.lockMovementX = true;
            options.target.lockMovementY = true;
            options.target.name = 'щель, нажмите для выбора параметров';
            options.target.class = 'slit1_settings';
            obj.class += 'ed'
            if(num_slit<2) addSlit();
            result_scheme['slit1'][0] = true;

          };

           if (options.target.class == 'slit' && 
                          obj.class =='place_slit2') {
            options.target.top = obj.top - options.target.height/10;
            options.target.left = obj.left - options.target.width/2;
            obj.left = 1000;
            options.target.selectable = false;
            options.target.lockMovementX = true;
            options.target.lockMovementY = true;
            options.target.name = 'щель, нажмите для выбора параметров';
            options.target.class = 'slit2_settings';


            obj.class += 'ed'
            if(num_slit<2) addSlit();
            result_scheme['slit2'][0] = true;

          };

          if (options.target.class == 'sample' && 
                          obj.class =='place_sample1') {
            options.target.top = obj.top+20;
            options.target.left = obj.left - options.target.width/5;
            obj.left = 1000;

            options.target.selectable = false;
            options.target.lockMovementX = true;
            options.target.lockMovementY = true;
            obj.class += 'ed';
            options.target.class = 'crystal1_settings';
            if(num_sample<3) addSample();
            result_scheme['sample1'][0] = true;
            options.target.name = 'кристалл, нажмите для выбора параметров';
            console.log('mounted');
            $(".sample1").click(function() {
              console.log('ok1');
            });

            options.target.on('click', function() {
              console.log('ok');
            });


            options.target.animate('angle', '-=10'); 
            options.target.animate('top', '-=10'); 

            source.animate('angle', '-=30'); 
            source.animate('top', '-=20'); 

          };

          if (options.target.class == 'sample' && 
                          obj.class =='place_sample2') {
            options.target.top = obj.top + options.target.height/5;
            options.target.left = obj.left - options.target.width/5 + options.target.width/2;
            obj.left = 1000;
            options.target.selectable = false;
            options.target.lockMovementX = true;
            options.target.lockMovementY = true;
            options.target.angle = 180;
            obj.class += 'ed'
            options.target.class = 'crystal2_settings';
            options.target.name = 'кристалл, нажмите для выбора параметров';
            if(num_sample<3) addSample();
            result_scheme['sample2'][0] = true;


            detector.animate('angle', '-=15'); 
            detector.animate('top', '+=25'); 

            source.animate('angle', '+=15'); 
            source.animate('top', '+=10'); 

          };

          if (options.target.class == 'sample' && 
                          obj.class =='place_sample3') {
            options.target.top = obj.top+20;
            options.target.left = obj.left - options.target.width/5;
            obj.left = 1000;
            options.target.selectable = false;
            options.target.lockMovementX = true;
            options.target.lockMovementY = true;
            obj.class += 'ed';
            options.target.name = 'кристалл, нажмите для выбора параметров';
            options.target.class = 'crystal3_settings';

            if(num_sample<3) addSample();
            result_scheme['sample3'][0] = true;

            options.target.animate('angle', '+=10'); 
            options.target.animate('top', '-=20'); 

            detector.animate('angle', '+=30'); 
            detector.animate('top', '-=50'); 

          };

          
        };

      });
    }


// -когда мышь сверху сделать объект больше, вывести название
    var oText;
    canvas.on('mouse:over', function(options) {
      if (options.target) {var text_info;
        options.target.setOpacity(0.5);

        // ------надпись информации-------------
        var text = ''+options.target.name;

        oText = new fabric.IText(text, {
          left: 10,
          top: 1,
          fontFamily: 'Bree Serif',
          fontSize: 10,
          cache: false
        });
        canvas.add(oText);

        canvas.renderAll();

      }
    });

    canvas.on('mouse:out', function(options) {
      if (options.target) {
        options.target.setOpacity(1);
        canvas.remove(oText);
        canvas.renderAll();
      }
    });

    canvas.on('mouse:down', function(options) {
      if (options.target) {
        $( "#source_settings, #slit1_settings,#slit2_settings, #crystal1_settings,#crystal2_settings,#crystal3_settings, #detector_settings" ).hide();
        $( "#"+options.target.class).show();
      }
    });

// --------------------------------



    // rect.set({ left: 20, top: 50 });
    // canvas.renderAll();

</script>