{% load static %}
<style>
body {
  padding-top: 50px;
  padding-bottom: 50px;
}

.price-box {
  margin: 0 auto;
background: #E9E9E9;
border-radius: 10px;
padding: 40px 15px;
width: 500px;
}

.ui-widget-content {
border: 1px solid #bdc3c7;
background: #e1e1e1;
color: #222222;
margin-top: 4px;
}

.ui-slider .ui-slider-handle {
position: absolute;
z-index: 2;
width: 5.2em;
height: 2.2em;
cursor: default;
margin: 0 -40px auto !important;
text-align: center;
line-height: 30px;
color: #FFFFFF;
font-size: 15px;
}

.ui-slider .ui-slider-handle .glyphicon {
color: #FFFFFF;
margin: 0 3px;
font-size: 11px;
opacity: 0.5;
}

.ui-corner-all {
border-radius: 20px;
}

.ui-slider-horizontal .ui-slider-handle {
top: -.9em;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
border: 1px solid #f9f9f9;
background: #5cb85c;
}

.ui-slider-horizontal .ui-slider-handle {
margin-left: -0.5em;
}

.ui-slider .ui-slider-handle {
cursor: pointer;
}

.ui-slider a,
.ui-slider a:focus {
cursor: pointer;
outline: none;
}

.price, .lead p {
font-weight: 600;
font-size: 32px;
display: inline-block;
line-height: 60px;
}

h4.great {
background: #00ac98;
margin: 0 0 25px -60px;
padding: 7px 15px;
color: #ffffff;
font-size: 18px;
font-weight: 600;
border-radius: 5px;
display: inline-block;
-moz-box-shadow:    2px 4px 5px 0 #ccc;
  -webkit-box-shadow: 2px 4px 5px 0 #ccc;
  box-shadow:         2px 4px 5px 0 #ccc;
}

.total {
border-bottom: 1px solid #7f8c8d;
/*display: inline;
padding: 10px 5px;*/
position: relative;
padding-bottom: 20px;
}

.total:before {
content: "";
display: inline;
position: absolute;
left: 0;
bottom: 5px;
width: 100%;
height: 3px;
background: #7f8c8d;
opacity: 0.5;
}

.price-slider {
margin-bottom: 70px;
}

.price-slider span {
font-weight: 200;
display: inline-block;
color: #7f8c8d;
font-size: 13px;
}

.form-pricing {
background: #ffffff;
padding: 20px;
border-radius: 4px;
}

.price-form {
background: #ffffff;
margin-bottom: 10px;
padding: 20px;
border: 1px solid #eeeeee;
border-radius: 4px;
/*-moz-box-shadow:    0 5px 5px 0 #ccc;
  -webkit-box-shadow: 0 5px 5px 0 #ccc;
  box-shadow:         0 5px 5px 0 #ccc;*/
}

.form-group {
margin-bottom: 0;
}

.form-group span.price {
font-weight: 200;
display: inline-block;
color: #7f8c8d;
font-size: 14px;
}

.help-text {
display: block;
margin-top: 32px;
margin-bottom: 10px;
color: #737373;
position: absolute;
/*margin-left: 20px;*/
font-weight: 200;
text-align: right;
width: 188px;
}

.price-form label {
font-weight: 200;
font-size: 21px;
}



/* HR */
</style>

<div class="col-md-4">
  <div class="row" >
    <div class="alert alert-danger" style="margin-left: 40px;"  role="alert" id='id_alert_message'>
    </div>
  </div>
  <div class="row" style="margin-left: 50px;">
    <p class="lead"> Параметры расчета:</p>
      <div class="row">
        <div class="price-slider">
            <span style="margin-bottom:20px">детализация по длине волны</span>
            <div class="col-sm-12">
              <div id="slider_lambda">
                <input  type="number" style="width: 30%; display: none;" class="form-control input-sm" id="step_lambda" placeholder="1" value="1" name="коэффициент детализации сетки">
              </div>
            </div>
        </div>
        <div class="price-slider">
            <span style="margin-bottom:20px">детализация по углу</span>
            <div class="col-sm-12">
              <div id="slider_teta">
                <input  type="number" style="width: 30%; display: none;" class="form-control input-sm" id="step_teta" placeholder="1" value="1" name="коэффициент детализации сетки">
              </div>
            </div>
        </div>
        <div class="price-slider">
            <span style="margin-bottom:20px">шаг отстройки, угл.сек</span>
            <div class="col-sm-12">
              <div id="slider_shag_teta">
                <input  type="number" style="width: 30%; display: none;" class="form-control input-sm" id="step_shag_teta" placeholder="1" value="1" name="коэффициент детализации сетки">
              </div>
            </div>
        </div>

      </div>
      <div class="row" style="padding-left:10px;">
        <div class="form-group">
          <label for="id_comment_calc">Комментарий</label>
          <input type="text" maxlength="30" style="width: 100%;" class="form-control input-sm" id="id_comment_calc" placeholder="Ваш коммент." value="Прямой пучок." name="комментарий" />
        </div>
      </div>
  </div>
      <div class="input-group" style="margin: 40px;" id = ''>
        <span class="input-group-btn">
          <button type="button" id = "compute" class="btn btn-success">Рассчитать</button>
          <button type="button" id = "new_compute"  class="btn btn-default">new</button>
        </span>
        <input type="email" class="form-control" id="id_email" placeholder="Email" value = "{{user.email}}">
      </div><!-- /input-group -->
      <div id="loader_addon" style="width: 35px; height: 35px; background-color: transparent; float: right;"></div>
</div>

<div class="col-md-8">
  <div class="col-md-2">
    <div >
      <input type="text" class="form-control input-sm" id="lamba_end" placeholder="1" value="ka2+d30%" disabled>
    </div>
    <div style="margin-top: 140px;">
      <input type="text" class="form-control input-sm" id="lamba_start" placeholder="1" value="ka1-d30%" disabled>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
      <img style="height: 200px;" src="{% static 'diffraction/img/calc_examp.png'%}">
    </div>
    <div class="row">
      <div class="col-md-6">
        <input type="number" style="width: 70px;" class="form-control input-sm" id="teta_start" placeholder="1" value="-80" name="Угол начальной отстройки - Тета">
      </div>
      <div class="col-md-6">
        <input type="number" style="margin-left: 50px;  width: 70px;" class="form-control input-sm" id="teta_end" placeholder="1" value="80" name="Угол конечной отстройки - Тета">
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <p class="lead"> дополнительно</p>
      <!-- справа -->
      <label>Компьютер:</label>
      <select class="form-control" name = 'Компьютер'  id ='id_pc' size="6">
        {%for PK in computer_online%}
          {%if PK.get_time_diff == 'Yes'%}
            <option name = "{{PK.pc}}" ><small>{{PK.name}}</small></option>
          {%endif%}
        {%endfor%}
      </select>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
        $("#slider_lambda").slider({
          animate: true,
          value:1,
          min: 0.1,
          max: 1,
          step: 0.1,
            slide: function(event, ui) {
                update('step_lambda',ui); //changed
            }
        });
        $("#slider_teta").slider({
          animate: true,
          value:1,
          min: 0.1,
          max: 1,
          step: 0.1,
            slide: function(event, ui) {
                update('step_teta',ui); //changed
            }
        });
        $("#slider_shag_teta").slider({
          animate: true,
          value:5,
          min: 0.5,
          max: 40,
          step: 0.5,
            slide: function(event, ui) {
                update('step_shag_teta',ui); //changed
            }
        });


        update('step_shag_teta',  $("#slider_shag_teta"));
        update('step_teta',$("#slider_teta"));
        update('step_lambda',$("#slider_lambda"));
    });

    //changed. now with parameter
    function update(slider,ui) {
      //changed. Now, directly take value from ui.value. if not set (initial, will use current value.)
     $('#'+slider).val(ui.value);
     $(ui).children().text(ui.value);
    }
</script>
