

.slidescroll-enabled, .slidescroll-enabled body {
height: 100%;
font: normal 22px/26px "Open Sans Condensed", sans-serif !important;
}
.class_start_index{
 -moz-background-size: 100%; /* Firefox 3.6+ */
-webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
-o-background-size: 100%; /* Opera 9.6+ */
background-size: 100%; /* Современные браузеры */
/*-webkit-filter: opacity(0.3);*/
}

.class_calc_index{
	background: -webkit-gradient(linear, top left, bottom left, from(#7baabe), to(#969ac6));
	background: -webkit-linear-gradient(#7BAABE, #969AC6);
	background: linear-gradient(#7BAABE,#969AC6);
}
.class_school_index{
	background: -webkit-gradient(linear, top left, bottom left, from(#969ac6), to(#636F8F));
	background: -webkit-linear-gradient(#969AC6, #636F8F);
	background: linear-gradient(#969AC6,#636F8F);
}
.slidescroll-enabled .slidescroll-wrap {
position: relative;
height: 100%;
overflow: hidden;
}
.slidescroll-enabled .main, .slidescroll-enabled .page {
position: relative;
height: 100%;
width: 100%;

}
.slidescroll-enabled .main {
-webkit-transform: translate3d(0, 0, 0);
-moz-transform: translate3d(0, 0, 0);
-ie-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
-webkit-transition: -webkit-transform 1s ease;
-moz-transition: -moz-transform 1s ease;
-ie-transition: -ie-transform 1s ease;
transition: transform 1s ease;
top: 0;
}
.slidescroll-enabled .page {
position: absolute;
top: 0;
left: 0;
}
.slidescroll-nav {
position: absolute;
top: 50%;
right: 20px;
}
.slidescroll-nav a {
text-decoration: none;
cursor: pointer;
overflow: hidden;
}
.slidescroll-nav a, .slidescroll-nav span {
position: relative;
display: block;
}
.slidescroll-nav span {
line-height: 20px;
}
.slidescroll-nav .index {
position: absolute;
top: 8px;
right: 3px;
display: block;
width: 4px;
height: 4px;
border-radius: 50%;
background: #777;
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
}
.slidescroll-nav .active .index {
top: 5px;
right: 0;
width: 8px;
height: 8px;
background: transparent;
border: 1px solid #777;
}
.slidescroll-nav .title {
text-align: right;
padding-right: 20px;
color: #777;
opacity: 0;
font-size: em(12);
-webkit-transition: opacity 0.3s;
-moz-transition: opacity 0.3s;
-ie-transition: opacity 0.3s;
transition: opacity 0.3s;
}
.slidescroll-nav a:hover .title {
opacity: 1;
}
/*Кнопка на главной*/
.semi-transparent-button {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 8px;
  width: 80%;
  max-width: 200px;
  background: #fff; /* fallback color for old browsers */
  background: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
}
.semi-transparent-button:hover,
.semi-transparent-button:focus,
.semi-transparent-button:active {
  background: #fff;
  color: #000;
  transition: all 0.5s ease-in;
}
.semi-transparent:focus {
  outline: none;
}

.is-blue {
  background: #1e348e; /* fallback color for old browsers */
  background: rgba(30, 52, 142, 0.5);
}
.is-blue:hover,
.is-blue:focus,
.is-blue:active {
  background: #1e348e; /* fallback color for old browsers */
  background: rgb(30, 52, 142);
  color: #fff;
}

.with-border {
  border: 1px solid #fff;
}
a {
  text-decoration: none !important;
  color: #50e3c2;
}
a:hover {
  cursor: pointer;
  color: #777;
}
h1 {
  font: normal 29px/38px "Lato", sans-serif !important;
  color: rgba(255, 255, 255, 0.5) !important;
  text-align: center;
  margin-top: 40px;
}
h2 {
  margin-top: 50px !important;
  margin-bottom: 20px !important;
  font: normal 15px/26px "Lato", sans-serif !important;
  color: rgba(255, 255, 255, 0.5) !important;
  text-transform: uppercase !important;
  letter-spacing: 2px !important;
}

footer{

  font: normal 15px/26px "Lato", sans-serif !important;
  color: rgba(255, 255, 255, 0.5) !important;
  text-transform: uppercase !important;
  letter-spacing: 2px !important;
  position: absolute;
  bottom: 0;
  width: 100%;

}
img{
	margin: 20px;
	border: 1px solid #fff!important;
	opacity: 0.5 !important;
    filter: alpha(opacity=50)!important; /* For IE8 and earlier */
    border-radius: 8px;
}
